{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}General Journal: {{ general_ledger.name }}{% endblock %}
{% block head %}
    <style><!--
        .table-responsive {
            overflow-x: visible;
            overflow-y: visible;
        }
    //--></style>
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li><a href="{{ path("accounting_sets_of_books") }}">Sets of Books</a></li>
        <li><a href="{{ path("accounting_set_of_books") }}?set_of_books_id={{ set_of_books.id }}">{{ set_of_books.name }}</a></li>
        <li>General Journals</li>
        <li class="active">{{ general_ledger.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General Journal: {{ general_ledger.name }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>General Ledger: <a href="{{ path("accounting_general_ledger") }}?general_ledger_id={{ general_ledger.id }}">{{ general_ledger.name }}</a></li>
                <li>Set of Books: <a href="{{ path("accounting_set_of_books") }}?set_of_books_id={{ set_of_books.id }}">{{ set_of_books.name }}</a></li>
                <li>Organization: {{ organization.name }}{% if organization.code is not null %} ({{ organization.code }}){% endif %}</li>
                <li>Chart of Accounts: <a href="{{ path("accounting_chart_accounts") }}?chart_of_accounts_id={{ chart_of_accounts.id }}">{{ chart_of_accounts.name }}</a></li>
                <li>Currency: {{ general_ledger_currency.name }}</li>
                <li>Created: {{ general_ledger.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if general_ledger.updated is not null %}<li>Updated: {{ general_ledger.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-sm-2">Occurred</th>
                    <th class="col-sm-1">Type</th>
                    <th class="col-sm-1">Code</th>
                    <th class="col-sm-2">Account</th>
                    <th class="col-sm-2">Memo</th>
                    <th class="col-sm-2">Debit</th>
                    <th class="col-sm-2">Credit</th>
                </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="entryButton" class="btn btn-primary" type="button" role="button">Entry</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $entryButton = $('#entryButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $entryButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog modal-lg" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create Journal Entry</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-inline">' +
                        '<div class="row">' +
                            '<div class="table-responsive">' +
                                '<table class="table table-condensed table-bordered table-hover table-striped">' +
                                    '<thead>' +
                                        '<tr>' +
                                            '<th class="col-sm-5">Account</th>' +
                                            '<th class="col-sm-1">Currency</th>' +
                                            '<th class="col-sm-2">Debit</th>' +
                                            '<th class="col-sm-2">Credit</th>' +
                                            '<th class="col-sm-2">&nbsp;</th>' +
                                        '</tr>' +
                                    '</thead>' +
                                    '<tbody id="accountsBody"></tbody>' +
                                    '<tfoot>' +
                                        '<tr>' +
                                            '<td colspan="2"><select id="selectAccount" class="form-control" style="width: 100%;">' +
                                                '<option value="">Select an account...</option>' +
                                            '</select></td>' +
                                            '<td><input id="inputDebit" class="form-control" type="number" min="0.0000" max="999999999999999.9999" step="0.01" value="0"></td>' +
                                            '<td><input id="inputCredit" class="form-control" type="number" min="0.0000" max="999999999999999.9999" step="0.01" value="0"></td>' +
                                            '<td><button id="addAccountButton" class="btn btn-primary" type="button" role="button">Add</td>' +
                                        '</tr>' +
                                    '</tfoot>' +
                                '</table>' +
                            '</div>' +
                        '</div>' +
                        '<div class="row">' +
                            '<div class="form-group">' +
                                '<label for="inputDatetime" class="control-label col-sm-3">Date</label>' +
                                '<div class="col-sm-3">' +
                                    '<div class="input-group date" id="entryDatetimePicker">' +
                                        '<input type="text" class="form-control" id="inputDatetime" placeholder="YYYY-MM-DD HH:mm:ss" style="width: auto;"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                            '<div class="form-group">' +
                                '<label for="selectTimezone" class="control-label col-sm-3">Timezone</label>' +
                                '<div class="col-sm-3">' +
                                    '<select class="form-control" id="selectTimezone">' +
                                        {% for timezone_option in timezones %}
                                            '<option value="{{ timezone_option.id }}"{% if timezone_option.id == timezone.id %} selected{% endif %}>{{ timezone_option.name }}</option>' +
                                        {% endfor %}
                                    '</select>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                        '<div class="row" style="margin-top: 15px;">' +
                            '<div class="form-group">' +
                                '<label for="inputMemo" class="control-label col-sm-2">Memo</label>' +
                                '<div class="col-sm-6">' +
                                    '<textarea rows="4" cols="80" class="form-control" id="inputMemo"></textarea>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);
            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            var $accountsBody = $('#accountsBody');
            var $selectAccount = $('#selectAccount');
            var $inputDebit = $('#inputDebit');
            var $inputCredit = $('#inputCredit');
            var $selectTimezone = $('#selectTimezone');
            var $inputDatetime = $('#inputDatetime');
            var $inputMemo = $('#inputMemo');

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_general_ledger_accounts_json") }}?general_ledger_id={{ general_ledger.id }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        var rows = result['rows'];

                        for(var i = 0; i < rows.length; i++) {
                            var row = rows[i];
                            var chartAccountCode = row['chart_account_code'];
                            var chartAccountName = row['chart_account_name'];

                            $selectAccount.append(
                                $('<option/>')
                                    .val(row['id'])
                                    .text(chartAccountCode + ' - ' + chartAccountName + ' (' + row['currency_iso_code'] + ')')
                                    .data('chart-account-code', chartAccountCode)
                                    .data('chart-account-name', chartAccountName)
                                    .data('currency-id', row['currency_id'])
                            );
                        }
                    }
                })
            );

            $('#entryDatetimePicker').datetimepicker({
                'format': 'YYYY-MM-DD HH:mm:ss'
            });

            $('#addAccountButton').click(function() {
                var $selectedAccount = $selectAccount.children('option:selected');
                var generalLedgerAccountId = $selectedAccount.val();
                var debitCents = moneyStringToCents($inputDebit.val());
                var creditCents = moneyStringToCents($inputCredit.val());

                if(generalLedgerAccountId.length < 1) {
                    messageDialog(
                        'noAccount', 'No account selected', 'Please select an account.', 'Ok', 'sm', undefined, function() {
                            $selectAccount.focus();
                        }
                    );
                } else if(debitCents < 0) {
                    messageDialog(
                        'noNegativeDebits', 'Negative debit value', 'Please do not enter negative values.', 'Ok', 'sm', undefined, function() {
                            $inputDebit.focus();
                        }
                    );
                } else if(creditCents < 0) {
                    messageDialog(
                        'noNegativeCredits', 'Negative credit value', 'Please do not enter negative values.', 'Ok', 'sm', undefined, function() {
                            $inputCredit.focus();
                        }
                    );
                } else if(debitCents <= 0 && creditCents <= 0) {
                    messageDialog(
                        'noDebitOrCredit', 'No debit or credit', 'Please enter a debit or credit value.', 'Ok', 'sm', undefined, function() {
                            $inputDebit.focus();
                        }
                    );
                } else if(debitCents > 0 && creditCents > 0) {
                    messageDialog('onlyDebitOrCredit', 'Both debit and credit entered', 'Please enter only a debit or credit value.', 'Ok', 'sm', undefined, function() {
                        $inputDebit.focus();
                    });
                } else {
                    var $accountRows = $accountsBody.children('tr');
                    var generalLedgerAccountAlreadyAdded = false;

                    $accountRows.each(function() {
                        var $tr = $(this);

                        if(generalLedgerAccountId == $tr.data('general-ledger-account-id')) {
                            generalLedgerAccountAlreadyAdded = true;
                        }
                    });

                    if(generalLedgerAccountAlreadyAdded) {
                        messageDialog(
                            'accountAlreadyAdded', 'Account already added', 'Please select an account that has not already been added.', 'Ok', 'sm', undefined, function() {
                                $selectAccount.focus();
                            }
                        );
                    } else {
                        $accountsBody.append(
                            '<tr id="addGeneralLedgerAccount' + generalLedgerAccountId + '" data-general-ledger-account-id="' + generalLedgerAccountId + '">' +
                                '<td data-field="account" data-chart-account-code="' + $selectedAccount.data('chart-account-code') + '" data-chart-account-name="' + $selectedAccount.data('chart-account-name') + '">' +
                                    $selectedAccount.data('chart-account-code') + ' - ' + $selectedAccount.data('chart-account-name') +
                                '</td>' +
                                '<td data-field="currency-id"><select class="form-control">' +
                                    {% for currency_option in currencies %}
                                        '<option value="{{ currency_option.id }}"' + ($selectedAccount.data('currency-id') == {{ currency_option.id }} ? ' selected' : '') + '>{{ currency_option.isoCode }}</option>' +
                                    {% endfor %}
                                '</select></td>' +
                                {% for currency_option in currencies %}
                                    ($selectedAccount.data('currency-id') == {{ currency_option.id }} ? (
                                        '<td data-field="debit">' +
                                            '<input id="inputDebit' + generalLedgerAccountId + '" class="form-control" type="number" ' +
                                                'min="0{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}0{% endfor %}{% endif %}" ' +
                                                'max="999999999999999{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}9{% endfor %}{% endif %}" ' +
                                                'step="{% if currency_option.decimals is null or currency_option.decimals < 1 %}1{% else %}0.{% for i in range(1, currency_option.decimals-1) %}0{% endfor %}1{% endif %}" ' +
                                                'value="' +
                                                moneyCentsToString(debitCents) +
                                            '">' +
                                        '</td>' +
                                        '<td data-field="credit">' +
                                            '<input id="inputCredit' + generalLedgerAccountId + '" class="form-control" type="number" ' +
                                                'min="0{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}0{% endfor %}{% endif %}" ' +
                                                'max="999999999999999{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}9{% endfor %}{% endif %}" ' +
                                                'step="{% if currency_option.decimals is null or currency_option.decimals < 1 %}1{% else %}0.{% for i in range(1, currency_option.decimals-1) %}0{% endfor %}1{% endif %}" ' +
                                                'value="' +
                                                moneyCentsToString(creditCents) +
                                            '">' +
                                        '</td>'
                                    ) : '') +
                                {% endfor %}
                                '<td><a href="#" id="removeGeneralLedgerAccount' + generalLedgerAccountId + '" title="Remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>' +
                            '</tr>'
                        );

                        $('#removeGeneralLedgerAccount' + generalLedgerAccountId).click(function(e) {
                            $('#addGeneralLedgerAccount' + generalLedgerAccountId).remove();

                            e.preventDefault();
                        });

                        $selectAccount.val('');
                        $inputDebit.val('0');
                        $inputCredit.val('0');
                        $selectAccount.focus();
                    }
                }
            });

            $('#submitButton').click(function() {
                var $accountRows = $accountsBody.children('tr');
                var balance = 0;
                var accounts = [];
                var accountsValid = true;

                if($accountRows.length === 1) {
                    messageDialog(
                        'notEnoughAccounts', 'Not enough accounts affected', 'Please include at least two accounts per journal entry or no accounts for a memo transaction.', 'Ok', 'sm', undefined, function() {
                            $selectAccount.focus();
                        }
                    );

                    return;
                }

                $accountRows.each(function() {
                    if(!accountsValid) {
                        return;
                    }

                    var $tr = $(this);
                    var account = {
                        'generalLedgerAccountId': $tr.data('general-ledger-account-id'),
                        'currency_id': null,
                        'debit': null,
                        'credit': null,
                        'debitCents': null,
                        'creditCents': null
                    };
                    var foundNegativeAmount = false;

                    $tr.children('td').each(function() {
                        var $td = $(this);
                        var field = $td.data('field');

                        switch(field) {
                            case 'currency-id':
                                $td.children('select').each(function() {
                                    account['currency_id'] = $(this).val();
                                });
                            break;
                            case 'debit':
                                $td.children('input').each(function() {
                                    account['debit'] = $(this).val();
                                    account['debitCents'] = moneyStringToCents(account['debit']);
                                    balance -= account['debitCents'];

                                    if(account['debitCents'] < 0) {
                                        foundNegativeAmount = true;
                                    }
                                });
                            break;
                            case 'credit':
                                $td.children('input').each(function() {
                                    account['credit'] = $(this).val();
                                    account['creditCents'] = moneyStringToCents(account['credit']);
                                    balance += account['creditCents'];

                                    if(account['creditCents'] < 0) {
                                        foundNegativeAmount = true;
                                    }
                                });
                            break;
                        }
                    });

                    if(account['debitCents'] != 0 && account['creditCents'] != 0) {
                        messageDialog(
                            'forbidBothSides', 'Single account both debited and credited', 'Please make sure each account either debits or credits, not both.', 'Ok', 'sm', undefined, function() {
                                $('#inputDebit' + account['generalLedgerAccountId']).focus();
                            }
                        );

                        accountsValid = false;

                        return;
                    }

                    if(foundNegativeAmount) {
                        messageDialog(
                            'forbidNegativeAmounts', 'Debited and credit values cannot be negative', 'Please either debit or credit a positive value.', 'Ok', 'sm', undefined, function() {
                                $('#inputDebit' + account['generalLedgerAccountId']).focus();
                            }
                        );

                        accountsValid = false;

                        return;
                    }

                    accounts.push(account);
                });

                if(!accountsValid) {
                    return
                }

                if(balance !== 0) {
                    messageDialog('unbalancedJournalEntry', 'Unbalanced debits and credits', 'Please make sure the debits and credits are balanced - current balance: ' + moneyCentsToString(balance) + '.', 'Ok', 'sm');

                    return;
                }

                if($inputDatetime.val().length < 19) {
                    messageDialog(
                        'missingOrInvalidDatetime', 'Missing or invalid date', 'Please select a date.', 'Ok', 'sm', undefined, function() {
                            $inputDatetime.focus();
                        }
                    );

                    return;
                }

                if($inputMemo.val().trim().length < 1) {
                    messageDialog(
                        'missingMemo', 'Missing memo', 'Please enter a memo.', 'Ok', 'sm', undefined, function() {
                            $inputMemo.focus();
                        }
                    );

                    return;
                }

                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("accounting_journal_entry_create") }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify({
                            'generalLedgerId': {{ general_ledger.id }},
                            'datetime': $inputDatetime.val(),
                            'timezone_id': $selectTimezone.val(),
                            'memo': $inputMemo.val(),
                            'accounts': accounts
                        }),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['total'] > 0) {
                            createAlert(
                                'Inserted ' + result['total'] + ' journal entries ' +
                                'modifying ' + result['accounts'] + ' accounts',
                                'success', undefined, undefined, 5
                            );
                        }
                    })
                );

                $modal.modal('hide');
                refreshGeneralJournalEntries();
            });

            $modal
                .on('shown.bs.modal', function(e) {
                    $selectAccount.focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;
        });

        function refreshGeneralJournalEntries() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_journal_entries_json") }}?general_ledger_id={{ general_ledger.id }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        $.each(result['rows'], function(index, item) {
                            if(item['accounts'].length > 0) {
                                $.each(item['accounts'], function(accountIndex, account) {
                                    var $tr = $('<tr/>').data('id', item['id']);
                                    var isDebit = (account['amount'].charAt(0) == '-');
                                    var absFloat = Math.abs(parseFloat(account['amount']));

                                    if(accountIndex === 0) {
                                        $('<td/>')
                                            .data('field', 'occurred')
                                            .text(timestampFormat(item['occurred'], '{{ timezone.name }}'))
                                            .appendTo($tr)
                                        ;
                                    } else {
                                        $('<td/>').appendTo($tr);
                                    }

                                    $('<td/>')
                                        .data('field', 'chart_account_type')
                                        .text(account['chart_account_type'])
                                        .appendTo($tr)
                                    ;
                                    $('<td/>')
                                        .data('field', 'chart_account_code')
                                        .text(account['chart_account_code'])
                                        .appendTo($tr)
                                    ;
                                    $('<td/>')
                                        .data('field', 'chart_account_name')
                                        .text(account['chart_account_name'])
                                        .prepend((isDebit ? '' : '&nbsp;&nbsp;&nbsp;&nbsp;'))
                                        .appendTo($tr)
                                    ;
                                    if(accountIndex === 0) {
                                        $('<td/>')
                                            .data('field', 'memo')
                                            .attr('rowspan', item['accounts'].length)
                                            .text(item['memo'])
                                            .appendTo($tr)
                                        ;
                                    }
                                    $('<td/>')
                                        .data('field', 'debit')
                                        .text(isDebit ? (Globalize.currencyFormatter(account['currency_iso_code'], {'style': 'accounting'}))(absFloat) : '')
                                        .appendTo($tr)
                                    ;
                                    $('<td/>')
                                        .data('field', 'credit')
                                        .text(isDebit ? '' : (Globalize.currencyFormatter(account['currency_iso_code'], {'style': 'accounting'}))(absFloat))
                                        .appendTo($tr)
                                    ;

                                    $tr.appendTo($resultsBody);
                                });
                            } else {
                                var $tr = $('<tr>').data('id', item['id']);

                                $('<td/>')
                                    .data('field', 'occurred')
                                    .text(timestampFormat(item['occurred'], '{{ timezone.name }}'))
                                    .appendTo($tr)
                                ;
                                $('<td/>').appendTo($tr);
                                $('<td/>').appendTo($tr);
                                $('<td/>')
                                    .data('field', 'memo')
                                    .text(item['memo'])
                                    .appendTo($tr)
                                ;
                                $('<td/>').appendTo($tr);
                                $('<td/>').appendTo($tr);
                                $('<td/>').appendTo($tr);

                                $tr.appendTo($resultsBody);
                            }
                        });
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshGeneralJournalEntries();
        });

        refreshGeneralJournalEntries();
    });
//--></script>
{% endblock %}
