{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Source Documents{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li class="active">Source Documents</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div id="searchPanel" class="panel-heading">
            <form id="searchForm" class="form-inline">
                <div class="form-group">
                    <label for="selectSearchSource" class="control-label">Source</label>
                    <select id="selectSearchSource" class="form-control" name="search_source" title="Filter items by data source">
                        <option value="" selected>All</option>
                        {% for dataSource in data_sources %}
                            <option value="{{ dataSource.id }}">{{ dataSource.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="searchButton" type="button" role="button" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Nickname</th>
                        <th>Category</th>
                        <th>Employee</th>
                        <th>Vendor</th>
                        <th>Business</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $resultsBody = $('#resultsBody');
        var $searchButton = $('#searchButton');
        var $searchForm = $('#searchForm');
        var $searchSourceSelect = $('#selectSearchSource');

        $searchForm.submit(false);

        $searchButton.click(function() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_source_document_search_json") }}',
                    'data': {
                        'search_source': $searchSourceSelect.val()
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-id="' + item['id'] + '">' +
                                    '<td data-field="created">' +
                                        timestampFormat(item['created'], '{{ timezone.name }}') +
                                    '</td>' +
                                    '<td data-field="total">' + item['total'] + ((item['currency'] !== null && item['currency'].length > 0) ? (' ' + item['currency']) : '') + '</td>' +
                                    '<td data-field="nickname">' + item['nickname'] + '</td>' +
                                    '<td data-field="category">' + item['category'] + '</td>' +
                                    '<td data-field="employee">' + item['employee'] + '</td>' +
                                    '<td data-field="vendor">' + item['vendor'] + '</td>' +
                                    '<td data-field="business">' + item['business'] + '</td>' +
                                    '<td data-field="Link"><a href="http://admin-global/global/invoiceedit.php?invoiceid=' + item['id'] + '" target="_blank">View</a></td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        });
                    }
                })
            );
        });
    });
//--></script>
{% endblock %}
