{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Fiscal Periods{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li class="active">Fiscal Periods</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Fiscal Periods</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" class="btn btn-primary" type="button" role="button">Create</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $createButton = $('#createButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $createButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create Fiscal Period</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-horizontal">' +
                        '<div class="form-group">' +
                            '<label for="selectFiscalPeriodType" class="col-sm-2 control-label">Type</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectFiscalPeriodType">' +
                                {% for fiscal_period_type in fiscal_period_types %}
                                    '<option value="{{ fiscal_period_type.id }}">{{ fiscal_period_type.name }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputFiscalPeriodName" class="col-sm-2 control-label">Name</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputFiscalPeriodName" placeholder="Fiscal Period Name"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="selectFiscalPeriodTimezone" class="col-sm-2 control-label">Timezone</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectFiscalPeriodTimezone">' +
                                {% for timezone_option in timezones %}
                                    '<option value="{{ timezone_option.id }}"{% if timezone_option.id == timezone.id %} selected{% endif %}>{{ timezone_option.name }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputFiscalPeriodStart" class="col-sm-2 control-label">Start</label>' +
                            '<div class="col-sm-10">' +
                                '<div class="input-group date" id="startPicker">' +
                                    '<input type="text" class="form-control" placeholder="YYYY-MM-DD" id="inputFiscalPeriodStart"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputFiscalPeriodEnd" class="col-sm-2 control-label">End</label>' +
                            '<div class="col-sm-10">' +
                                '<div class="input-group date" id="endPicker">' +
                                    '<input type="text" class="form-control" placeholder="YYYY-MM-DD" id="inputFiscalPeriodEnd"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);

            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            var $startPicker = $('#startPicker');
            var $endPicker = $('#endPicker');

            $startPicker.datetimepicker({
                'format': 'YYYY-MM-DD'
            });
            $endPicker.datetimepicker({
                'format': 'YYYY-MM-DD',
                'useCurrent': false
            });

            $startPicker.on('dp.change', function(e) {
                $endPicker.data('DateTimePicker').minDate(e.date);
            });
            $endPicker.on('dp.change', function(e) {
                $startPicker.data('DateTimePicker').maxDate(e.date);
            });

            $modal
                .on('shown.bs.modal', function(e) {
                    $('#selectFiscalPeriodType').focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;

            $('#submitButton').click(function() {
                createFiscalPeriod($modal);
            });
        });

        function createFiscalPeriod($modal) {
            var $fiscalPeriodType = $('#selectFiscalPeriodType');
            var $fiscalPeriodName = $('#inputFiscalPeriodName');
            var $fiscalPeriodTimezone = $('#selectFiscalPeriodTimezone');
            var $fiscalPeriodStart = $('#inputFiscalPeriodStart');
            var $fiscalPeriodEnd = $('#inputFiscalPeriodEnd');
            var fiscalPeriod = {
                'fiscal_period_type_id': $fiscalPeriodType.val(),
                'name': $fiscalPeriodName.val(),
                'timezone_id': $fiscalPeriodTimezone.val(),
                'start': $fiscalPeriodStart.val(),
                'end': $fiscalPeriodEnd.val()
            };

            wrapAjax(
                $.ajax({
                    'type': 'POST',
                    'url': '{{ path("accounting_fiscal_period_create") }}',
                    'contentType': 'application/json',
                    'data': JSON.stringify(fiscalPeriod),
                    'dataType': 'json'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        createAlert(
                            'Created ' + result['total'] + ' fiscal periods ' +
                            'of type: ' + $fiscalPeriodType.children('option:selected').text() + ', ' +
                            'name: ' + $fiscalPeriodName.val(),
                            'success', undefined, undefined, 5
                        );
                    }

                    refreshFiscalPeriods();
                })
            );

            $modal.modal('hide');
        }

        function refreshFiscalPeriods() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_fiscal_periods_json") }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        var rows = result['rows'];

                        for(var i = 0; i < rows.length; i++) {
                            var row = rows[i];

                            $(
                                '<tr data-id="' + row['id'] + '">' +
                                    '<td data-field="type">' + row['fiscal_period_type'] + '</td>' +
                                    '<td data-field="name">' + row['name'] + '</td>' +
                                    '<td data-field="start">' + timestampFormat(row['start'], '{{ timezone.name }}') + '</td>' +
                                    '<td data-field="end">' + timestampFormat(row['end'], '{{ timezone.name }}') + '</td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        }
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshFiscalPeriods();
        });

        refreshFiscalPeriods();
    });
//--></script>
{% endblock %}
