{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Set of Books: {{ set_of_books.name }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li><a href="{{ path("accounting_sets_of_books") }}">Sets of Books</a></li>
        <li class="active">{{ set_of_books.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Set of Books: {{ set_of_books.name }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Created: {{ set_of_books.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if set_of_books.updated is not null %}<li>Updated: {{ set_of_books.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-sm-2">Ledger</th>
                    <th class="col-sm-1">Journal</th>
                    <th class="col-sm-1">Currency</th>
                    <th class="col-sm-2">Organization</th>
                    <th class="col-sm-2">Chart of Accounts</th>
                    <th class="col-sm-2">Created</th>
                    <th class="col-sm-2">Updated</th>
                </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" class="btn btn-primary" type="button" role="button">Create</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $createButton = $('#createButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $createButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog modal-lg" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create General Ledger</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-horizontal">' +
                        '<div class="form-group">' +
                            '<label for="selectOrganization" class="col-sm-2 control-label">Organization</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectOrganization">' +
                                {% for organization in organizations %}
                                    '<option value="{{ organization.id }}">{{ organization.name }}{% if organization.code is not null %} ({{ organization.code }}){% endif %}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="selectChartOfAccounts" class="col-sm-2 control-label">Charts of Accounts</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectChartOfAccounts">' +
                                {% for chart_of_accounts in charts_of_accounts %}
                                    '<option value="{{ chart_of_accounts.id }}">{{ chart_of_accounts.name }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="selectCurrency" class="col-sm-2 control-label">Currency</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectCurrency">' +
                                {% for currency_option in currencies %}
                                    '<option value="{{ currency_option.id }}"' + ("USD" == "{{ currency_option.isoCode }}" ? ' selected' : '') + '>{{ currency_option.isoCode }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputLedgerName" class="col-sm-2 control-label">Name</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputLedgerName" placeholder="Ledger Name"></div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);
            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            var $selectOrganization = $('#selectOrganization');

            $('#submitButton').click(function() {
                var $selectChartOfAccounts = $('#selectChartOfAccounts');
                var $currency = $('#selectCurrency');
                var $ledgerName = $('#inputLedgerName');
                var ledger = {
                    'set_of_books_id': {{ set_of_books.id }},
                    'organization_id': $selectOrganization.val(),
                    'chart_of_accounts_id': $selectChartOfAccounts.val(),
                    'currency_id': $currency.val(),
                    'name': $ledgerName.val()
                };

                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("accounting_general_ledger_create") }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(ledger),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['total'] > 0) {
                            createAlert(
                                'Created ' + result['total'] + ' general ledgers named: ' + $ledgerName.val() + ' ' +
                                'in currency: ' + $currency.children('option:selected').text() + ' ' +
                                'for organization: ' + $selectOrganization.children('option:selected').text() + ', ' +
                                'chart of accounts: ' + $selectChartOfAccounts.children('option:selected').text(),
                                'success', undefined, undefined, 5
                            );
                        }

                        refreshLedgers();
                    })
                );

                $modal.modal('hide');
            });

            $modal
                .on('shown.bs.modal', function(e) {
                    $selectOrganization.focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;
        });

        function refreshLedgers() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_general_ledgers_json") }}?set_of_books_id={{ set_of_books.id }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-id="' + item['id'] + '"">' +
                                    '<td data-field="name"><a href="{{ path("accounting_general_ledger") }}?general_ledger_id=' + item['id'] + '">' + item['name'] + '</a></td>' +
                                    '<td data-field="journal"><a href="{{ path("accounting_general_journal") }}?general_ledger_id=' + item['id'] + '">View</a></td>' +
                                    '<td data-field="currency">' +
                                        {% for currency_option in currencies %}
                                            (item['currency_id'] == {{ currency_option.id }} ? '{{ currency_option.isoCode }}' : '') +
                                        {% endfor %}
                                    '</td>' +
                                    '<td data-field="organization">' +
                                        item['organization_name'] +
                                        ((item['organization_code'] !== null && item['organization_code'].length > 0) ? ' (' + item['organization_code'] + ')' : '') +
                                    '</td>' +
                                    '<td data-field="chart_of_accounts">' + item['chart_of_accounts'] + '</td>' +
                                    '<td data-field="created">' + timestampFormat(item['created'], '{{ timezone.name }}') + '</td>' +
                                    '<td data-field="updated">' + timestampFormat(item['updated'], '{{ timezone.name }}') + '</td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        });
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshLedgers();
        });

        refreshLedgers();
    });
//--></script>
{% endblock %}
