{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Accounting{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Accounting</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Accounting</h3>
        </div>
        <div class="panel-body">
            <p>
                The financial accounting module contains a model of a set of physical books known as the General Journal
                and the General Ledger. Transactions are entered into the general journal as they occur, and when they
                are fully recognized they can be posted into the general ledger. Transactions can be entered manually
                into journals and posted to ledgers by hand, automatically entered into journals and posted immediately
                or any combination thereof.
            </p>
            <p>
                An organization or business entity may have many sets of books for different reasons, such as to
                reflect different accounting standards (cash-basis, GAAP) or to target different audiences. While
                each journal is tied to a specific ledger, each ledger within a set of books may refer to a separate
                chart of accounts and each transaction may be recorded in multiple journals, allowing for example a
                parent company which operates in countries using USD and Euros to maintain a journal for each currency
                while its subsidiaries in Asia and South America may have their own ledgers or their own sets of books
                entirely.
            </p>
            <p>
                Employees of each region and/or subsidiary may be given access to all sets of books or only
                the particular components that pertain to their job responsibilities and/or the entity which employs
                them. Authorization can be provided as read-only to all books, with write access only to specific
                journals and/or ledgers, only to create trial balances or financial statements from existing ledgers,
                etc.
            </p>
            <p>
                When the organization is ready to prepare a trial balance or financial statement they may do so from any
                general ledger by selecting the fiscal period which they would like to report on. Once a financial
                statement is created for a fiscal period for a given ledger, a set of adjusting or reversing entries
                may be automatically created for the next period, or they may be created by hand as well.
            </p>
            <p>
                In order to setup an organization for the full financial accounting process one must create the
                following items:
            </p>
            <ul>
                <li><a href="{{ path("accounting_charts_of_accounts") }}">Charts of Accounts</a></li>
                <li>
                    <a href="{{ path("accounting_sets_of_books") }}">Sets of Books</a> each of which include:
                    <ul>
                        <li><a href="#">General Journal</a></li>
                        <li><a href="#">General Ledger</a></li>
                    </ul>
                </li>
                <li><a href="{{ path("accounting_fiscal_periods") }}">Fiscal Periods</a></li>
            </ul>
            <p>
                In addition, data sources may be configured by an administrator to automatically supply
                <a href="{{ path("accounting_source_documents") }}">source documents</a> either on-demand or
                on a scheduled basis. Every journal entry should refer to a source document, whether it is provided
                automatically or entered manually when journalizing the related transaction.
            </p>
        </div>
    </div>
{% endblock %}
