{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}General Ledger: {{ general_ledger.name }}{% endblock %}
{% block head %}
    <style><!--
        .table-responsive {
            overflow-x: visible;
            overflow-y: visible;
        }
    //--></style>
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li><a href="{{ path("accounting_sets_of_books") }}">Sets of Books</a></li>
        <li><a href="{{ path("accounting_set_of_books") }}?set_of_books_id={{ set_of_books.id }}">{{ set_of_books.name }}</a></li>
        <li>General Ledgers</li>
        <li class="active">{{ general_ledger.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General Ledger: {{ general_ledger.name }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>General Journal: <a href="{{ path("accounting_general_journal") }}?general_ledger_id={{ general_ledger.id }}">View</a></li>
                <li>Set of Books: <a href="{{ path("accounting_set_of_books") }}?set_of_books_id={{ set_of_books.id }}">{{ set_of_books.name }}</a></li>
                <li>Organization: {{ organization.name }}{% if organization.code is not null %} ({{ organization.code }}){% endif %}</li>
                <li>Chart of Accounts: <a href="{{ path("accounting_chart_accounts") }}?chart_of_accounts_id={{ chart_of_accounts.id }}">{{ chart_of_accounts.name }}</a></li>
                <li>Currency: {{ general_ledger_currency.name }}</li>
                <li>Created: {{ general_ledger.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if general_ledger.updated is not null %}<li>Updated: {{ general_ledger.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-sm-1">Code</th>
                    <th class="col-sm-2">Account Name</th>
                    <th class="col-sm-3">Start Date</th>
                    <th class="col-sm-2">Opening Balance</th>
                    <th class="col-sm-2">Currency</th>
                    <th class="col-sm-2">Modified</th>
                </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="updateButton" class="btn btn-success" type="button" role="button">Update</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $updateButton = $('#updateButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $updateButton.click(function() {
            var updateItems = [];

            $resultsBody.children('tr').each(function() {
                var $tr = $(this);
                var row = {
                    'id': $tr.data('id'),
                    'chart_account_id': $tr.data('chart-account-id')
                };

                $tr.children('td').each(function() {
                    var $td = $(this);
                    var field = $td.data('field');

                    switch(field) {
                        case 'start':
                            $td.children('div').each(function() {
                                $(this).children('input').each(function() {
                                    row['start'] = $(this).val();
                                });
                            });
                        break;
                        case 'opening_balance':
                            $td.children('input').each(function() {
                                row['opening_balance'] = $(this).val();
                            });
                        break;
                        case 'currency-id':
                            $td.children('select').each(function() {
                                row['currency_id'] = $(this).val();
                            });
                        break;
                    }
                });

                updateItems.push(row);
            });

            if(updateItems.length > 0) {
                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("accounting_general_ledger_accounts_update") }}?general_ledger_id={{ general_ledger.id }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(updateItems),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['updated'] > 0) {
                            createAlert(
                                'Updated ' + result['updated'] + ' of ' + result['total'] + ' general ledger accounts',
                                'success', undefined, undefined, 5
                            );

                            refreshGeneralLedgerAccounts();
                        }
                    })
                );
            }
        });

        function refreshGeneralLedgerAccounts() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_general_ledger_accounts_json") }}?general_ledger_id={{ general_ledger.id }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-id="' + item['id'] + '" data-chart-account-id="' + item['chart_account_id'] + '">' +
                                    '<td data-field="chart_account_code">' + item['chart_account_code'] + '</td>' +
                                    '<td data-field="chart_account_name">' + item['chart_account_name'] + '</td>' +
                                    '<td data-field="start">' +
                                        '<div class="input-group date" id="startDatetimePicker' + item['id'] + '">' +
                                            '<input type="text" class="form-control" maxlength="19" placeholder="YYYY-MM-DD HH:mm:ss">' +
                                            '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>' +
                                        '</div>' +
                                    '</td>' +
                                    '<td data-field="opening_balance">' +
                                        {% for currency_option in currencies %}
                                            (item['currency_id'] == {{ currency_option.id }} ? (
                                                '<input class="form-control" type="number" ' +
                                                    'min="0{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}0{% endfor %}{% endif %}" ' +
                                                    'max="999999999999999{% if currency_option.decimals is not null and currency_option.decimals > 0 %}.{% for i in range(1, currency_option.decimals) %}9{% endfor %}{% endif %}" ' +
                                                    'step="{% if currency_option.decimals is null or currency_option.decimals < 1 %}1{% else %}0.{% for i in range(1, currency_option.decimals-1) %}0{% endfor %}1{% endif %}" ' +
                                                    'value="' + item['opening_balance'] +
                                                '">'
                                            ) : '') +
                                        {% endfor %}
                                    '</td>' +
                                    '<td data-field="currency-id"><select class="form-control">' +
                                        {% for currency_option in currencies %}
                                            '<option value="{{ currency_option.id }}"' + (item['currency_id'] == {{ currency_option.id }} ? ' selected' : '') + '>{{ currency_option.isoCode }}</option>' +
                                        {% endfor %}
                                    '</select></td>' +
                                    '<td data-field="modified">' +
                                        timestampFormat(
                                            ((item['updated'] !== null && item['updated'].length > 0) ? item['updated'] : item['created']),
                                            '{{ timezone.name }}'
                                        ) +
                                    '</td>' +
                                '</tr>'
                            ).appendTo($resultsBody);

                            var $startDatetimePicker = $('#startDatetimePicker' + item['id']);

                            $startDatetimePicker.datetimepicker({
                                'format': 'YYYY-MM-DD HH:mm:ss',
                                'defaultDate': (item['start'] === null ? false : moment.unix(item['start'])),
                                'timeZone': '{{ timezone.name }}'
                            });
                        });
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshGeneralLedgerAccounts();
        });

        refreshGeneralLedgerAccounts();
    });
//--></script>
{% endblock %}
