{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Chart of Accounts: {{ chart_of_accounts.name }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li><a href="{{ path("accounting_charts_of_accounts") }}">Charts of Accounts</a></li>
        <li class="active">{{ chart_of_accounts.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Chart of Accounts: {{ chart_of_accounts.name }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Created: {{ chart_of_accounts.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if chart_of_accounts.updated is not null %}<li>Updated: {{ chart_of_accounts.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1">Code</th>
                        <th class="col-sm-5">Name</th>
                        <th class="col-sm-2">Type</th>
                        <th class="col-sm-2">To Increase</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" class="btn btn-primary" type="button" role="button">Create</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $createButton = $('#createButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $createButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create Chart Account</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-horizontal">' +
                        '<div class="form-group">' +
                            '<label for="selectChartAccountType" class="col-sm-2 control-label">Type</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectChartAccountType">' +
                                {% for chart_account_type in chart_account_types %}
                                    '<option value="{{ chart_account_type.id }}">{{ chart_account_type.name }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputChartAccountCode" class="col-sm-2 control-label">Code</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputChartAccountCode" placeholder="Chart Account Code"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputChartAccountName" class="col-sm-2 control-label">Name</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputChartAccountName" placeholder="Chart Account Name"></div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);

            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            $modal
                .on('shown.bs.modal', function(e) {
                    $('#selectChartAccountType').focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;

            $('#submitButton').click(function() {
                createChartAccount($modal);
            });
        });

        function createChartAccount($modal) {
            var $chartAccountType = $('#selectChartAccountType');
            var $chartAccountCode = $('#inputChartAccountCode');
            var $chartAccountName = $('#inputChartAccountName');
            var chartAccount = {
                'chart_of_accounts_id': {{ chart_of_accounts.id }},
                'chart_account_type_id': $chartAccountType.val(),
                'code': $chartAccountCode.val(),
                'name': $chartAccountName.val()
            };

            wrapAjax(
                $.ajax({
                    'type': 'POST',
                    'url': '{{ path("accounting_chart_account_create") }}?chart_of_accounts_id={{ chart_of_accounts.id }}',
                    'contentType': 'application/json',
                    'data': JSON.stringify(chartAccount),
                    'dataType': 'json'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        createAlert(
                            'Created ' + result['total'] + ' chart accounts ' +
                            'of type: ' + $chartAccountType.children('option:selected').text() + ', ' +
                            'code: ' + $chartAccountCode.val() + ', ' +
                            'name: ' + $chartAccountName.val(),
                            'success', undefined, undefined, 5
                        );
                    }

                    refreshChartAccounts();
                })
            );

            $modal.modal('hide');
        }

        function deleteChartAccount(id) {
            wrapAjax(
                $.ajax({
                    'type': 'DELETE',
                    'url': '{{ path("accounting_chart_account_delete") }}?chart_account_id=' + id
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        item = result['rows'][0];

                        createAlert(
                            'Deleted ' + result['deleted'] + ' chart accounts ' +
                            'of type: ' + item['chart_account_type'] + ', ' +
                            'code: ' + item['code'] + ', ' +
                            'name: ' + item['name'],
                            'success', undefined, undefined, 5
                        );
                    }

                    refreshChartAccounts();
                })
            );
        }

        function refreshChartAccounts() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_chart_accounts_json") }}?chart_of_accounts_id={{ chart_of_accounts.id }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        var rows = result['rows'];

                        for(var i = 0; i < rows.length; i++) {
                            var row = rows[i];

                            $(
                                '<tr data-id="' + row['id'] + '">' +
                                    '<td data-field="code">' + row['code'] + '</td>' +
                                    '<td data-field="name">' + row['name'] + '</td>' +
                                    '<td data-field="type">' + row['chart_account_type'] + '</td>' +
                                    '<td data-field="to_increase">' + (row['to_increase'] === 'dr' ? 'Debit' : 'Credit') + '</td>' +
                                    '<td><a id="delete-' + row['id'] + '" href="#" title="Delete">' +
                                        '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                                    '</a></td>' +
                                '</tr>'
                            ).appendTo($resultsBody);

                            (function(item) {
                                $('#delete-' + item['id']).click(function(e) {
                                    deleteChartAccount(item['id']);

                                    e.preventDefault();
                                });
                            })(row);
                        }
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshChartAccounts();
        });

        refreshChartAccounts();
    });
//--></script>
{% endblock %}
