{% extends "base.html.twig" %}

{% use "accounting/accounting_sidebar.html.twig" %}

{% block title %}Sets of Books{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("accounting") }}">Accounting</a></li>
        <li class="active">Sets of Books</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sets of Books</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-5">Name</th>
                        <th class="col-sm-2">Created</th>
                        <th class="col-sm-2">Updated</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" class="btn btn-primary" type="button" role="button">Create</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $createButton = $('#createButton');
        var $resultsBody = $('#resultsBody');
        var $refreshButton = $('#refreshButton');

        $createButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create Set of Books</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-horizontal">' +
                        '<div class="form-group">' +
                            '<label for="inputSetName" class="col-sm-2 control-label">Name</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputSetName" placeholder="Set Name"></div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);

            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            $modal
                .on('shown.bs.modal', function(e) {
                    $('#inputSetName').focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;

            $('#submitButton').click(function() {
                createSetOfBooks($modal);
            });
        });

        function createSetOfBooks($modal) {
            var $setName = $('#inputSetName');
            var setOfBooks = {
                'name': $setName.val()
            };

            wrapAjax(
                $.ajax({
                    'type': 'POST',
                    'url': '{{ path("accounting_set_of_books_create") }}',
                    'contentType': 'application/json',
                    'data': JSON.stringify(setOfBooks),
                    'dataType': 'json'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        createAlert(
                            'Created ' + result['total'] + ' sets of books named: ' + $setName.val(),
                            'success', undefined, undefined, 5
                        );
                    }

                    refreshSetsOfBooks();
                })
            );

            $modal.modal('hide');
        }

        function refreshSetsOfBooks() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("accounting_sets_of_books_json") }}'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-id="' + item['id'] + '">' +
                                    '<td data-field="name"><a href="{{ path("accounting_set_of_books") }}?set_of_books_id=' + item['id'] + '">' + item['name'] + '</a></td>' +
                                    '<td data-field="created">' + timestampFormat(item['created'], '{{ timezone.name }}') + '</td>' +
                                    '<td data-field="updated">' + timestampFormat(item['updated'], '{{ timezone.name }}') + '</td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        });
                    }
                })
            );
        }

        $refreshButton.click(function() {
            refreshSetsOfBooks();
        });

        refreshSetsOfBooks();
    });
//--></script>
{% endblock %}
