{% block sidebar %}
<ul class="nav nav-sidebar">
    <li{% if side_section is defined and side_section == "source_documents" %} class="active"{% endif %}><a href="{{ path("accounting_source_documents") }}">Source Documents{% if side_section is defined and side_section == "source_documents" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
    <li{% if side_section is defined and side_section == "sets_of_books" %} class="active"{% endif %}><a href="{{ path("accounting_sets_of_books") }}">Sets of Books{% if side_section is defined and side_section == "sets_of_books" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
    <li{% if side_section is defined and side_section == "fiscal_periods" %} class="active"{% endif %}><a href="{{ path("accounting_fiscal_periods") }}">Fiscal Periods{% if side_section is defined and side_section == "fiscal_periods" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
    <li{% if side_section is defined and side_section == "charts_of_accounts" %} class="active"{% endif %}><a href="{{ path("accounting_charts_of_accounts") }}">Charts of Accounts{% if side_section is defined and side_section == "charts_of_accounts" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
</ul>
{% endblock %}
