{% extends "base.html.twig" %}

{% use "amazon/amazon_sidebar.html.twig" %}

{% block title %}Amazon Marketplaces{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("amazon") }}">Amazon</a></li>
        <li class="active">Marketplaces</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Amazon Marketplaces</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Seller IDs:<ul>
                {% for credential in credentials %}
                    <li>
                        {{ credential.seller_id }} - {{ credential.endpoint }}
                        ({% if credential.list_next_token is not null %}Retrieved as of{% else %}Last retrieval{% if credential.list_updated is not null %} began at{% endif %}{% endif %}: {{ credential.list_created|date("Y-m-d H:i:s", timezone.name) }}{% if credential.list_updated is not null %}, last update: {{ credential.list_updated|date("Y-m-d H:i:s", timezone.name) }}{% endif %})
                    </li>
                {% endfor %}
                </ul></li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1" data-toggle="tooltip" title="Listings are not suspended in Seller Central">Participating</th>
                        <th class="col-sm-2">Domain</th>
                        <th class="col-sm-2">Seller ID</th>
                        <th class="col-sm-2">Marketplace ID</th>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-1" data-toggle="tooltip" title="System will automatically send and receive data">Active</th>
                        <th class="col-sm-2">Modified</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="updateButton" class="btn btn-success" type="button" role="button">Update</button>
            <button id="refreshButton" class="btn btn-default" type="button" role="button">Refresh</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript"><!--
        $(function() {
            var $updateButton = $('#updateButton');
            var $resultsBody = $('#resultsBody');
            var $refreshButton = $('#refreshButton');

            $updateButton.click(function() {
                var updateItems = [];

                $resultsBody.children('tr').each(function() {
                    var $tr = $(this);
                    var row = {
                        'id': $tr.data('id')
                    };

                    $tr.children('td').each(function() {
                        var $td = $(this);
                        var field = $td.data('field');

                        switch(field) {
                            case 'active':
                                $td.children('input').each(function() {
                                    row['active'] = $(this).is(':checked');
                                });
                            break;
                        }
                    });

                    updateItems.push(row);
                });

                if(updateItems.length > 0) {
                    wrapAjax(
                        $.ajax({
                            'type': 'POST',
                            'url': '{{ path("amazon_marketplaces_update") }}',
                            'contentType': 'application/json',
                            'data': JSON.stringify(updateItems),
                            'dataType': 'json'
                        })
                        .done(function(result, textStatus, jqXHR) {
                            if(result['updated'] > 0) {
                                createAlert(
                                    'Updated ' + result['updated'] + ' of ' + result['total'] + ' marketplaces',
                                    'success', undefined, undefined, 5
                                );

                                refreshMarketplaces();
                            }
                        })
                    );
                }
            });

            function refreshMarketplaces() {
                $resultsBody.empty();

                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("amazon_marketplaces_json") }}'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['total'] > 0) {
                            $.each(result['rows'], function(index, item) {
                                $(
                                    '<tr data-id="' + item['id'] + '">' +
                                        '<td data-field="participating">' +
                                            (item['participating'] === null ? 'No Data' : (item['participating'] ? 'Yes' : 'No')) +
                                        '</td>' +
                                        '<td data-field="domain">' + item['domain'] + '</td>' +
                                        '<td data-field="seller_id">' + item['seller_id'] + '</td>' +
                                        '<td data-field="marketplace_id">' + item['marketplace_id'] + '</td>' +
                                        '<td data-field="name">' + item['name'] + '</td>' +
                                        '<td data-field="active">' +
                                            '<input type="checkbox"' + (item['active'] ? ' checked' : '') + '>' +
                                        '</td>' +
                                        '<td data-field="modified">' +
                                            timestampFormat(
                                                ((item['updated'] !== null && item['updated'].length > 0) ? item['updated'] : item['created']),
                                                '{{ timezone.name }}'
                                            ) +
                                        '</td>' +
                                    '</tr>'
                                ).appendTo($resultsBody);
                            });
                        }
                    })
                );
            }

            $refreshButton.click(function() {
                refreshMarketplaces();
            });

            refreshMarketplaces();
        });
    //--></script>
{% endblock %}
