{% extends "base.html.twig" %}

{% use "amazon/amazon_sidebar.html.twig" %}

{% block title %}Amazon{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Amazon</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Amazon</h3>
        </div>
        <div class="panel-body">
            <p>
                The Amazon module contains data retrieved from the
                <a href="https://developer.amazonservices.com/">Amazon Marketplace Web Service (MWS) API</a>
                which includes product listings, inventory levels, orders and shipping requests, reports, financial events,
                Selling Coach recommendations and more. Administrators may configure the credentials for this service in the
                {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
                    <a href="{{ path("profile_mws_credentials") }}">Amazon MWS Credentials</a>
                {% else %}
                    Amazon MWS Credentials
                {% endif %}
                section of their <a href="{{ path("profile") }}">account profile</a>.
            </p>
            <p>
                Employees of each region and/or subsidiary may be given access to all accounts and sections or only
                the particular components that pertain to their job responsibilities and/or the entity which employs
                them. Authorization can be provided as read-only to the automatically retrieved items,
                with the ability to create requests for specific reports or to submit specific feeds,
                to be able to retrieve specific data sets ahead of the regular schedule, etc.
            </p>
            <p>
                Events can be configured by an administrator to automatically create accounting entries
                such as <a href="{{ path("accounting_source_documents") }}">source documents</a>,
                and <a href="{{ path("accounting_sets_of_books") }}">general journal entries</a>,
                either on-demand or on a scheduled basis. Journal entries may be posted automatically to
                general ledgers if they are considered completed transactions.
            </p>
        </div>
    </div>
{% endblock %}
