{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
            <li{% if side_section is defined and side_section == "marketplaces" %} class="active"{% endif %}><a href="{{ path("amazon_marketplaces") }}">Marketplaces{% if side_section is defined and side_section == "marketplaces" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
