{% extends "base.html.twig" %}

{% use "sales/sales_sidebar.html.twig" %}

{% block title %}Sales{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Sales</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Sales</h3>
        </div>
        <div class="panel-body">
            <p>
                The sales module contains records of the complete sales process including estimates, orders, invoices
                and receipts. Transactions can either be entered manually or retrieved automatically from data sources
                on a scheduled or on-demand basis. When an invoice or receipt is fully realized it may be entered into
                the company accounts in the <a href="{{ path("accounting") }}">financial accounting</a> module.
            </p>
            <p>
                Employees of each region and/or subsidiary may be given access to all sales records or only
                the particular components that pertain to their job responsibilities and/or the entity which employs
                them.
            </p>
        </div>
    </div>
{% endblock %}
