<div class='panel panel-{{ severity }}'>
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{ path("sales_orders") }}">Sales - Orders By Fulfillment Status</a></h3>
    </div>
    <div class='panel-body'>
        <ul>
            {% if pending_count > 0 %}<li>{{ pending_count }} pending</li>{% endif %}
            {% if partial_count > 0 %}<li>{{ partial_count }} partial</li>{% endif %}
            {% if unknown_count > 0 %}<li>{{ unknown_count }} unknown</li>{% endif %}
            <li>{{ processed_count }} processed</li>
            {% if cancelled_count > 0 %}<li>{{ cancelled_count }} cancelled</li>{% endif %}
        </ul>
    </div>
</div>
