{% extends "base.html.twig" %}

{% use "sales/sales_sidebar.html.twig" %}

{% block title %}Order #{{ sales_order.id }}{% if sales_order.title is not null %} ({{ sales_order.title }}{% endif %}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("sales") }}">Sales</a></li>
        <li><a href="{{ path("sales_orders") }}">Orders</a></li>
        <li class="active">Order #{{ sales_order.id }}{% if sales_order.title is not null %} ({{ sales_order.title }}{% endif %}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Order #{{ sales_order.id }}{% if sales_order.title is not null %} ({{ sales_order.title }}{% endif %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                {% if sales_order.ordered is not null %}<li>Ordered: {{ sales_order.ordered|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                <li>{% if data_feeds is empty %}Entered{% else %}Imported{% endif %}: {{ sales_order.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if sales_order.creator is not null %}<li>Entered by: {{ creator.name }}</li>{% endif %}
                {% if sales_order.updated is not null %}<li>Updated: {{ sales_order.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                {% if sales_order.updater is not null %}<li>Updated by: {{ updater.name }}</li>{% endif %}
                {% if data_feeds is not empty %}
                    Feeds:
                    <ul>
                        {% for data_feed in data_feeds %}
                            <li>
                                {{ data_feed.name }}
                                {% for data_source in data_sources %}
                                    {% if data_source.id == data_feed.dataSourceId %}({{ data_source.name }}){% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if fulfillment_status is not null %}
                    <li>
                        Status: {{ fulfillment_status.name }}
                    </li>
                {% endif %}
                {% if sales_channel is not null %}
                    <li>
                        Channel: {{ sales_channel.name }}
                    </li>
                {% endif %}
                {% if seller_organization is not null %}<li>Seller: {{ seller_organization.name }}{% if seller_organization.code is not null %}({{ seller_organization.code }}){% endif %}</li>{% endif %}
                {% if purchaser_organization is not null %}<li>Buyer Organization: {{ purchaser_organization.name }}{% if purchaser_organization.code is not null %}({{ purchaser_organization.code }}){% endif %}</li>{% endif %}
                {% if contact_persons is not empty %}
                    Buyer Contacts:
                    <ul>
                        {% for contact_person in contact_persons %}
                            <li><a href="{{ path("crm_contacts") }}/{{ contact_person.id }}">{{ contact_person.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if sale_currency is not null %}<li>Sale Currency: {{ sale_currency.isoCode }}</li>{% endif %}
                {% if purchaser_currency is not null %}
                    {% if sale_currency is null or sale_currency.id != purchaser_currency.id %}
                        <li>Buyer Currency: {{ purchaser_currency.isoCode }}</li>
                        {% if sales_order.currencyExchangeRate is not null %}<li>Exchange Rate: {{ sales_order.currencyExchangeRate }}</li>{% endif %}
                    {% endif %}
                {% endif %}
                {% if payment_method is not null %}<li>Payment Method: {{ payment_method.name }}</li>{% endif %}
                {% if sales_order.shippingAmount is not null and sales_order.shippingAmount > 0 %}<li>Shipping Amount: {{ sales_order.shippingAmount }}</li>{% endif %}
                {% if sales_order.subtotalAmount is not null and sales_order.subtotalAmount > 0 %}<li>Subtotal Amount: {{ sales_order.subtotalAmount }}</li>{% endif %}
                {% if sales_order.totalAmount is not null and sales_order.totalAmount > 0 %}<li>Total Amount: {{ sales_order.totalAmount }}</li>{% endif %}
                {% if sales_order.purchaseOrderNumber is not null %}<li>Purchase Order: {{ sales_order.purchaseOrderNumber }}</li>{% endif %}
            </ul>
        </div>
        {% if fulfillment_status is null or (fulfillment_status.name == "pending" or fulfillment_status.name == "partial")%}
            <div class="panel-footer">
                <button id="createShipmentButton" type="button" role="button" class="btn btn-success">Ship</button>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Shipments</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleShipmentSortSender">Sender <span id="showShipmentSortSender" class="pull-right"></span></th>
                        <th id="toggleShipmentSortRecipientContactPerson">Recipient <span id="showShipmentSortRecipientContactPerson" class="pull-right"></span></th>
                        <th id="toggleShipmentSortRecipientOrganization">Organization <span id="showShipmentSortRecipientOrganization" class="pull-right"></span></th>
                        <th id="toggleShipmentSortStatus">Status <span id="showShipmentSortStatus" class="pull-right"></span></th>
                        <th id="toggleShipmentSortProductCount">Products <span id="showShipmentSortProductCount" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="shipmentsBody"></tbody>
                <tfoot id="shipmentsFooter"></tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Addresses</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleAddressSortLine1">Line 1 <span id="showAddressSortLine1" class="pull-right"></span></th>
                        <th id="toggleAddressSortLine2">Line 2 <span id="showAddressSortLine2" class="pull-right"></span></th>
                        <th id="toggleAddressSortLine3">Line 3 <span id="showAddressSortLine3" class="pull-right"></span></th>
                        <th id="toggleAddressSortCity">City <span id="showAddressSortCity" class="pull-right"></span></th>
                        <th id="toggleAddressSortDistrict">District <span id="showAddressSortDistrict" class="pull-right"></span></th>
                        <th id="toggleAddressSortStateOrRegion">State or Region <span id="showAddressSortStateOrRegion" class="pull-right"></span></th>
                        <th id="toggleAddressSortPostalCode">Postal Code <span id="showAddressSortPostalCode" class="pull-right"></span></th>
                        <th id="toggleAddressSortCountry">Country <span id="showAddressSortCountry" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="addressesBody"></tbody>
                <tfoot id="addressesFooter"></tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Taxes</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleTaxSortTypeName">Type <span id="showTaxSortTypeName" class="pull-right"></span></th>
                        <th id="toggleTaxSortCode">Code <span id="showTaxSortCode" class="pull-right"></span></th>
                        <th id="toggleTaxSortName">Name <span id="showTaxSortName" class="pull-right"></span></th>
                        <th id="toggleTaxSortVariable">Variable <span id="showTaxSortVariable" class="pull-right"></span></th>
                        <th id="toggleTaxSortIncludeInPrice">Include <span id="showTaxSortIncludeInPrice" class="pull-right"></span></th>
                        <th id="toggleTaxSortPercentage">Percentage <span id="showTaxSortPercentage" class="pull-right"></span></th>
                        <th id="toggleTaxSortAmount">Amount <span id="showTaxSortAmount" class="pull-right"></span></th>
                        <th id="toggleTaxSortTaxIdentifierName">Identifier Name <span id="showTaxSortTaxIdentifierName" class="pull-right"></span></th>
                        <th id="toggleTaxSortTaxIdentifier">Identifier Value <span id="showTaxSortTaxIdentifier" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="taxesBody"></tbody>
                <tfoot id="taxesFooter"></tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleProductSortQuantity">Quantity <span id="showProductSortQuantity" class="pull-right"></span></th>
                        <th id="toggleProductSortShipped">Shipped <span id="showProductSortShipped" class="pull-right"></span></th>
                        <th id="toggleProductSortName">Name <span id="showProductSortName" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="productsBody"></tbody>
                <tfoot id="productsFooter"></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $shipmentsBody = $('#shipmentsBody');
        var $shipmentsFooter = $('#shipmentsFooter');
        var shipmentSortToggle = 'toggleShipmentSort';
        var shipmentSortShow = 'showShipmentSort';
        var shipmentCurrentPage = 1;
        var shipmentSortColumn = 'productCount';
        var shipmentSortDirection = 1;
        var $addressesBody = $('#addressesBody');
        var $addressesFooter = $('#addressesFooter');
        var addressSortToggle = 'toggleAddressSort';
        var addressSortShow = 'showAddressSort';
        var addressCurrentPage = 1;
        var addressSortColumn = 'line1';
        var addressSortDirection = 1;
        var $taxesBody = $('#taxesBody');
        var $taxesFooter = $('#taxesFooter');
        var taxSortToggle = 'toggleTaxSort';
        var taxSortShow = 'showTaxSort';
        var taxCurrentPage = 1;
        var taxSortColumn = 'amount';
        var taxSortDirection = 1;
        var $productsBody = $('#productsBody');
        var $productsFooter = $('#productsFooter');
        var productSortToggle = 'toggleProductSort';
        var productSortShow = 'showProductSort';
        var productCurrentPage = 1;
        var productSortColumn = 'quantity';
        var productSortDirection = 1;
        var totalProductCount = -1;
        var shippedProductCount = -1;
        var $shipButton = $('#createShipmentButton');

        if($shipButton) {
            $shipButton.prop('disabled', true);
            $shipButton.click(function() {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("sales_orders_order_ship", {"salesOrderId": sales_order.id}) }}'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        var redirected = false;

                        $shipButton.prop('disabled', true);

                        $.each(result['rows'], function(index, item) {
                            if(item['id']) {
                                redirected = true;
                                window.location = '{{ path('shipping_shipments') }}' + item['id'];
                            }
                        });

                        if(!redirected) {
                            createAlert(
                                'A shipment has already been created, refresh to see details.',
                                'warning', true, undefined, 5
                            );
                        }
                    })
                );
            });
        }

        $('[id^=' + shipmentSortToggle + ']').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(shipmentSortToggle.length).toLowerCase() + id.slice(shipmentSortToggle.length + 1);

            $this.click(function(e) {
                toggleShipmentSort(e, toggleColumn);
            });
        });

        function toggleShipmentSort(e, column) {
            e.preventDefault();

            if(!$shipmentsBody.is(':empty')) {
                if(shipmentSortColumn == column) {
                    shipmentSortDirection = (shipmentSortDirection == 1 ? -1 : 1);
                } else {
                    shipmentSortColumn = column;
                    shipmentSortDirection = 1;
                }

                refreshShipments();
            }
        }

        function refreshShipments() {
            $shipmentsBody.empty();
            $shipmentsFooter.empty();

            var shipmentSortColumnUpper = shipmentSortColumn.charAt(0).toUpperCase() + shipmentSortColumn.slice(1);

            $('[id^=' + shipmentSortToggle + ']')
                .removeClass('bg-info')
            ;
            $('span[id^=' + shipmentSortShow + ']')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#' + shipmentSortToggle + shipmentSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#' + shipmentSortShow + shipmentSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (shipmentSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("sales_orders_order_shipments_json", {"salesOrderId": sales_order.id}) }}',
                    'data': {
                        'page': shipmentCurrentPage,
                        'sort_column': shipmentSortColumn,
                        'sort_direction': shipmentSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    shippedProductCount = 0;

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-shipment-id="' + item['id'] + '">' +
                                    '<td data-field="sender">' + (item['sender'] ? item['sender'] : '&nbsp;') + '</td>' +
                                    '<td data-field="recipient_contact_person">' + (item['recipient_contact_person'] ? item['recipient_contact_person'] : '&nbsp;') + '</td>' +
                                    '<td data-field="recipient_organization">' + (item['recipient_organization'] ? item['recipient_organization'] : '&nbsp;') + '</td>' +
                                    '<td data-field="status">' + (item['status'] ? item['status'] : '&nbsp;') + '</td>' +
                                    '<td data-field="product_count">' +
                                        '<a href="{{ path("shipping_shipments") }}' + item['id'] + '">' + (item['product_count'] ? item['product_count'] : '&nbsp;') + '</a>' +
                                    '</td>' +
                                '</td>'
                            ).appendTo($shipmentsBody);

                            if(item['status'] != 'cancelled' && item['product_count']) {
                                shippedProductCount += parseInt(item['product_count'], 10);
                            }
                        });

                        var $paginationNav = createPaginationNav(calculated, shipmentCurrentPage, 5, function(newPage) {
                            shipmentCurrentPage = newPage;

                            refreshShipments();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="8" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($shipmentsFooter);
                        }
                    }

                    refreshCreateShipmentButton();
                })
            );
        }

        $('[id^=' + addressSortToggle + ']').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(addressSortToggle.length).toLowerCase() + id.slice(addressSortToggle.length + 1);

            $this.click(function(e) {
                toggleAddressSort(e, toggleColumn);
            });
        });

        function toggleAddressSort(e, column) {
            e.preventDefault();

            if(!$addressesBody.is(':empty')) {
                if(addressSortColumn == column) {
                    addressSortDirection = (addressSortDirection == 1 ? -1 : 1);
                } else {
                    addressSortColumn = column;
                    addressSortDirection = 1;
                }

                refreshAddresses();
            }
        }

        function refreshAddresses() {
            $addressesBody.empty();
            $addressesFooter.empty();

            var addressSortColumnUpper = addressSortColumn.charAt(0).toUpperCase() + addressSortColumn.slice(1);

            $('[id^=' + addressSortToggle + ']')
                .removeClass('bg-info')
            ;
            $('span[id^=' + addressSortShow + ']')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#' + addressSortToggle + addressSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#' + addressSortShow + addressSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (addressSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("sales_orders_order_addresses_json", {"salesOrderId": sales_order.id}) }}',
                    'data': {
                        'page': addressCurrentPage,
                        'sort_column': addressSortColumn,
                        'sort_direction': addressSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-contact-address-id="' + item['id'] + '">' +
                                    '<td data-field="line1">' + (item['line1'] ? item['line1'] : '&nbsp;') + '</td>' +
                                    '<td data-field="line2">' + (item['line2'] ? item['line2'] : '&nbsp;') + '</td>' +
                                    '<td data-field="line3">' + (item['line3'] ? item['line3'] : '&nbsp;') + '</td>' +
                                    '<td data-field="city">' + (item['city'] ? item['city'] : '&nbsp;') + '</td>' +
                                    '<td data-field="district">' + (item['district'] ? item['district'] : '&nbsp;') + '</td>' +
                                    '<td data-field="state_or_region">' + (item['state_or_region'] ? item['state_or_region'] : '&nbsp;') + '</td>' +
                                    '<td data-field="postal_code">' + (item['postal_code'] ? item['postal_code'] : '&nbsp;') + '</td>' +
                                    '<td data-field="country_name">' + (item['country_name'] ? item['country_name'] : '&nbsp;') + '</td>' +
                                '</td>'
                            ).appendTo($addressesBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, addressCurrentPage, 5, function(newPage) {
                            addressCurrentPage = newPage;

                            refreshAddresses();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="8" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($addressesFooter);
                        }
                    }
                })
            );
        }

        $('[id^=' + taxSortToggle + ']').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(taxSortToggle.length).toLowerCase() + id.slice(taxSortToggle.length + 1);

            $this.click(function(e) {
                toggleTaxSort(e, toggleColumn);
            });
        });

        function toggleTaxSort(e, column) {
            e.preventDefault();

            if(!$taxesBody.is(':empty')) {
                if(taxSortColumn == column) {
                    taxSortDirection = (taxSortDirection == 1 ? -1 : 1);
                } else {
                    taxSortColumn = column;
                    taxSortDirection = 1;
                }

                refreshTaxes();
            }
        }

        function refreshTaxes() {
            $taxesBody.empty();
            $taxesFooter.empty();

            var taxSortColumnUpper = taxSortColumn.charAt(0).toUpperCase() + taxSortColumn.slice(1);

            $('[id^=' + taxSortToggle + ']')
                .removeClass('bg-info')
            ;
            $('span[id^=' + taxSortShow + ']')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#' + taxSortToggle + taxSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#' + taxSortShow + taxSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (taxSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("sales_orders_order_taxes_json", {"salesOrderId": sales_order.id}) }}',
                    'data': {
                        'page': taxCurrentPage,
                        'sort_column': taxSortColumn,
                        'sort_direction': taxSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            var $tr = $('<tr data-tax-id="' + item['id'] + '"/>');
                            var $typeTd = $('<td data-field="type_name"/>').appendTo($tr);
                            var $codeTd = $('<td data-field="code"/>').appendTo($tr);
                            var $nameTd = $('<td data-field="name"/>').appendTo($tr);
                            var $variableTd = $('<td data-field="variable"/>').appendTo($tr);
                            var $includeInPriceTd = $('<td data-field="include_in_price"/>').appendTo($tr);
                            var $percentageTd = $('<td data-field="percentage"/>').appendTo($tr);
                            var $amountTd = $('<td data-field="amount"/>').appendTo($tr);
                            var $identifierNameTd = $('<td data-field="identifier_name"/>').appendTo($tr);
                            var $identifierTd = $('<td data-field="identifier"/>').appendTo($tr);

                            if(item['type_name'] !== null) {
                                if(item['type_description'] !== null) {
                                    var $tooltip = $('<span rel="tooltip" data-toggle="tooltip"/>').appendTo($typeTd);

                                    $tooltip.attr('title', item['type_description']);
                                    $tooltip.text(item['type_name']);
                                } else {
                                    $typeTd.text(item['type_name']);
                                }
                            } else {
                                if(item['type_description'] !== null) {
                                    $typeTd.text(item['type_description']);
                                } else {
                                    $typeTd.html('&nbsp;');
                                }
                            }

                            if(item['code'] !== null) {
                                $codeTd.text(item['code']);
                            } else {
                                $codeTd.html('&nbsp;');
                            }

                            if(item['name'] !== null) {
                                $nameTd.text(item['name']);
                            } else {
                                $nameTd.html('&nbsp;');
                            }

                            if(item['variable'] !== null) {
                                if(item['variable'] === '1') {
                                    $variableTd.text('Yes');
                                } else {
                                    $variableTd.text('No');
                                }
                            } else {
                                $variableTd.html('&nbsp;');
                            }

                            if(item['include_in_price'] !== null) {
                                if(item['include_in_price'] === '1') {
                                    $includeInPriceTd.text('Yes');
                                } else {
                                    $includeInPriceTd.text('No');
                                }
                            } else {
                                $includeInPriceTd.html('&nbsp;');
                            }

                            if(item['percentage'] !== null) {
                                $percentageTd.text(item['percentage']);
                            } else {
                                $percentageTd.html('&nbsp;');
                            }

                            if(item['tax_amount'] !== null) {
                                $amountTd.text(item['tax_amount']);
                            } else {
                                $amountTd.html('&nbsp;');
                            }

                            if(item['tax_identifier_name'] !== null) {
                                $identifierNameTd.text(item['tax_identifier_name']);
                            } else {
                                $identifierNameTd.html('&nbsp;');
                            }

                            if(item['tax_identifier'] !== null) {
                                $identifierTd.text(item['tax_identifier']);
                            } else {
                                $identifierTd.html('&nbsp;');
                            }

                            $tr.appendTo($taxesBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, taxCurrentPage, 5, function(newPage) {
                            taxCurrentPage = newPage;

                            refreshTaxes();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="9" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($taxesFooter);
                        }
                    }
                })
            );
        }

        $('[id^=' + productSortToggle + ']').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(productSortToggle.length).toLowerCase() + id.slice(productSortToggle.length + 1);

            $this.click(function(e) {
                toggleProductSort(e, toggleColumn);
            });
        });

        function toggleProductSort(e, column) {
            e.preventDefault();

            if(!$productsBody.is(':empty')) {
                if(productSortColumn == column) {
                    productSortDirection = (productSortDirection == 1 ? -1 : 1);
                } else {
                    productSortColumn = column;
                    productSortDirection = 1;
                }

                refreshProducts();
            }
        }

        function refreshProducts() {
            $productsBody.empty();
            $productsFooter.empty();

            var productSortColumnUpper = productSortColumn.charAt(0).toUpperCase() + productSortColumn.slice(1);

            $('[id^=' + productSortToggle + ']')
                .removeClass('bg-info')
            ;
            $('span[id^=' + productSortShow + ']')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#' + productSortToggle + productSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#' + productSortShow + productSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (productSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("sales_orders_order_products_json", {"salesOrderId": sales_order.id}) }}',
                    'data': {
                        'page': productCurrentPage,
                        'sort_column': productSortColumn,
                        'sort_direction': productSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    totalProductCount = 0;

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            var $tr = $('<tr data-product-id="' + item['id'] + '"/>');
                            var $quantityTd = $('<td data-field="quantity"/>').appendTo($tr);
                            var $shippedTd = $('<td data-field="shipped"/>').appendTo($tr);
                            var $nameTd = $('<td data-field="name"/>').appendTo($tr);

                            if(item['quantity'] !== null) {
                                $quantityTd.text(item['quantity']);

                                totalProductCount += parseInt(item['quantity'], 10);
                            } else {
                                $quantityTd.html('&nbsp;');
                            }

                            if(item['shipped'] !== null) {
                                $shippedTd.text(item['shipped']);
                            } else {
                                $shippedTd.html('&nbsp;');
                            }

                            if(item['name'] !== null) {
                                $nameTd.text(item['name']);
                            } else {
                                $nameTd.html('&nbsp;');
                            }

                            $tr.appendTo($productsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, productCurrentPage, 5, function(newPage) {
                            productCurrentPage = newPage;

                            refreshProducts();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="9" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($productsFooter);
                        }
                    }

                    refreshCreateShipmentButton();
                })
            );
        }

        function refreshCreateShipmentButton() {
            if($shipButton) {
                if(shippedProductCount < totalProductCount) {
                    $shipButton.prop('disabled', false);
                } else {
                    $shipButton.prop('disabled', true);
                }
            }
        }

        refreshAddresses();
        refreshTaxes();
        refreshProducts();
        refreshShipments();
    });
//--></script>
{% endblock %}
