{% extends "base.html.twig" %}

{% use "sales/sales_sidebar.html.twig" %}

{% block title %}Orders{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("sales") }}">Sales</a></li>
        <li class="active">Orders</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <form id="searchForm" class="form-inline">
                <div class="form-group">
                    <label for="searchFulfillmentStatus" class="control-label">Status</label>
                    <select id="searchFulfillmentStatus" class="form-control" title="Filter by fulfillment status">
                        <option value="" selected>All</option>
                        {% for fulfillmentStatus in fulfillment_statuses %}
                            <option value="{{ fulfillmentStatus.id }}">{{ fulfillmentStatus.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchSource" class="control-label">Source</label>
                    <select id="searchSource" class="form-control" title="Filter by data source">
                        <option value="" selected>All</option>
                        <option value="manual">Manual</option>
                        {% for dataSource in data_sources %}
                            <option value="{{ dataSource.id }}">{{ dataSource.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchChannel" class="control-label">Channel</label>
                    <select id="searchChannel" class="form-control" title="Filter by sales channel">
                        <option value="" selected>All</option>
                        {% for salesChannel in sales_channels %}
                            <option value="{{ salesChannel.id }}">{{ salesChannel.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchSellerOrganization" class="control-label">Seller</label>
                    <select id="searchSellerOrganization" class="form-control" title="Filter by seller">
                        <option value="" selected>All</option>
                        {% for sellerOrganization in seller_organizations %}
                            <option value="{{ sellerOrganization.id }}">{{ sellerOrganization.name }}{% if sellerOrganization.code is not null %} ({{ sellerOrganization.code }}){% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchPurchaserOrganizationName" class="control-label">Purchaser Organization</label>
                    <input id="searchPurchaserOrganizationName" class="form-control" type="search" title="Filter by purchaser organization">
                    <div id="searchPurchaserOrganizationNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchContactName" class="control-label">Purchaser Name</label>
                    <input id="searchContactName" class="form-control" type="search" title="Filter by purchaser name">
                    <div id="searchContactNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchCountry" class="control-label">Country</label>
                    <select id="searchCountry" class="form-control" title="Filter by country">
                        <option value="" selected>All</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }} ({{ country.isoCode }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchCount" class="control-label">Display</label>
                    <select id="searchCount" class="form-control" title="Number of results to display">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>250</option>
                    </select>
                </div>
                <button id="searchButton" type="button" role="button" class="btn btn-success">Search</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleSortOrdered">Ordered <span id="showSortOrdered" class="pull-right"></span></th>
                        <th id="toggleSortFulfillmentStatus">Status <span id="showSortFulfillmentStatus" class="pull-right"></span></th>
                        <th id="toggleSortChannel">Channel <span id="showSortChannel" class="pull-right"></span></th>
                        <th>Country <span class="pull-right glyphicon glyphicon-remove"></span></th>
                        <th>Purchaser <span class="pull-right glyphicon glyphicon-remove"></span></th>
                        <th id="toggleSortPurchaserOrganization">Organization <span id="showSortPurchaserOrganization" class="pull-right"></span></th>
                        <th id="toggleSortCurrency">Currency <span id="showSortCurrency" class="pull-right"></span></th>
                        <th id="toggleSortAmount">Amount <span id="showSortAmount" class="pull-right"></span></th>
                        <th>Taxes <span class="pull-right glyphicon glyphicon-remove"></span></th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
                <tfoot id="resultsFooter"></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $resultsBody = $('#resultsBody');
        var $resultsFooter = $('#resultsFooter');
        var $searchButton = $('#searchButton');
        var $searchForm = $('#searchForm');
        var $searchSource = $('#searchSource');
        var $searchFulfillmentStatus = $('#searchFulfillmentStatus');
        var $searchChannel = $('#searchChannel');
        var $searchSellerOrganization = $('#searchSellerOrganization');
        var $searchPurchaserOrganizationName = $('#searchPurchaserOrganizationName');
        var $searchContactName = $('#searchContactName');
        var $searchCountry = $('#searchCountry');
        var $searchCount = $('#searchCount');
        var currentPage = 1;
        var sortColumn = 'ordered';
        var sortDirection = -1;

        $searchForm.submit(false);

        $('[id^=toggleSort]').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(10).toLowerCase() + id.slice(11);

            $this.click(function(e) {
                toggleSort(e, toggleColumn);
            });
        });
        $searchButton.click(function() {
            currentPage = 1;

            executeSearch();
        });

        $searchContactName.autocomplete({
            appendTo: '#searchContactNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("sales_orders_purchasers_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'sales_channel_id': $searchChannel.val(),
                            'fulfillment_status_id': $searchFulfillmentStatus.val(),
                            'seller_organization_id': $searchSellerOrganization.val(),
                            'purchaser_organization_name': $searchPurchaserOrganizationName.val(),
                            'name': $searchContactName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchContactNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        $searchPurchaserOrganizationName.autocomplete({
            appendTo: '#searchPurchaserOrganizationNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("sales_order_purchasers_organizations_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'sales_channel_id': $searchChannel.val(),
                            'fulfillment_status_id': $searchFulfillmentStatus.val(),
                            'name': $searchContactName.val(),
                            'purchaser_organization_name': $searchPurchaserOrganizationName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchPurchaserOrganizationNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        function toggleSort(e, column) {
            e.preventDefault();

            if(!$resultsBody.is(':empty')) {
                if(sortColumn == column) {
                    sortDirection = (sortDirection == 1 ? -1 : 1);
                } else {
                    sortColumn = column;
                    sortDirection = 1;
                }

                executeSearch();
            }
        }

        function executeSearch() {
            $searchButton.prop('disabled', true);
            $resultsBody.empty();
            $resultsFooter.empty();

            var sortColumnUpper = sortColumn.charAt(0).toUpperCase() + sortColumn.slice(1);

            $('[id^=toggleSort]')
                .removeClass('bg-info')
            ;
            $('span[id^=showSort]')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#toggleSort' + sortColumnUpper)
                .addClass('bg-info')
            ;
            $('#showSort' + sortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (sortDirection === 1 ? 'up' : 'down'))
            ;

            var count = $searchCount.val();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("sales_orders_json") }}',
                    'data': {
                        'data_source_id': $searchSource.val(),
                        'sales_channel_id': $searchChannel.val(),
                        'fulfillment_status_id': $searchFulfillmentStatus.val(),
                        'seller_organization_id': $searchSellerOrganization.val(),
                        'purchaser_organization_name': $searchPurchaserOrganizationName.val(),
                        'name': $searchContactName.val(),
                        'country_id': $searchCountry.val(),
                        'page': currentPage,
                        'sort_column': sortColumn,
                        'sort_direction': sortDirection,
                        'count': count
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            var $tr = $('<tr data-sales-order-id="' + item['id'] + '">');
                            var $orderedTd = $('<td data-field="ordered"/>').appendTo($tr);
                            var $fulfillmentStatusTd = $('<td data-field="fulfillment_status_name"/>').appendTo($tr);
                            var $channelTd = $('<td data-field="channel"/>').appendTo($tr);
                            var $countriesTd = $('<td data-field="countries"/>').appendTo($tr);
                            var $purchasersTd = $('<td data-field="purchasers"/>').appendTo($tr);
                            var $purchaserOrganizationTd = $('<td data-field="purchaser_organization_name"/>').appendTo($tr);
                            var $currencyTd = $('<td data-field="currency_code"/>').appendTo($tr);
                            var $amountTd = $('<td data-field="amount"/>').appendTo($tr);
                            var $taxesTd = $('<td data-field="taxes"/>').appendTo($tr);
                            var purchasers = item['purchasers'];
                            var taxes = item['taxes'];

                            if(item['ordered'] === null) {
                                $orderedTd.html('&nbsp;');
                            } else {
                                $('<a/>')
                                    .attr('href', '{{ path("sales_orders") }}/' + item['id'])
                                    .html(timestampFormat(item['ordered'], '{{ timezone.name }}'))
                                    .appendTo($orderedTd)
                                ;
                            }

                            addTextOrNbsp($fulfillmentStatusTd, item['fulfillment_status_name']);
                            addTextOrNbsp($channelTd, item['sales_channel']);
                            addSeparatedTextOrNbsp($countriesTd, item['countries']);
                            addTextOrNbsp($purchaserOrganizationTd, item['purchaser_organization_name']);
                            addTextOrNbsp($currencyTd, item['sale_currency_code']);
                            addTextOrNbsp($amountTd, item['total_amount']);

                            if(purchasers.length < 1) {
                                $purchasersTd.html('&nbsp;');
                            } else {
                                var $purchaserList = $('<ul class="list-unstyled"/>');

                                for(i = 0; i < purchasers.length; i++) {
                                    var purchaser = purchasers[i];
                                    var $purchaserLi = $('<li/>');
                                    var $purchaserLink = $('<a href="{{ path("crm_contacts") }}/' + purchaser['id'] + '"/>');

                                    $purchaserLink.text(purchaser['name']);

                                    $purchaserLink.appendTo($purchaserLi);
                                    $purchaserLi.appendTo($purchaserList);
                                }

                                $purchaserList.appendTo($purchasersTd);
                            }

                            if(taxes.length < 1) {
                                $taxesTd.html('&nbsp;');
                            } else {
                                var $taxList = $('<ul class="list-unstyled"/>');

                                for(i = 0; i < taxes.length; i++) {
                                    var tax = taxes[i];
                                    var $taxLi = $('<li/>');

                                    if(tax['tax_desc'] === null) {
                                        $taxLi.text(tax['amount']);
                                    } else {
                                        var $tooltip = $('<span rel="tooltip" data-toggle="tooltip"/>').appendTo($taxLi);

                                        $tooltip.attr('title', tax['tax_desc']);
                                        $tooltip.text(tax['amount']);
                                    }

                                    $taxLi.appendTo($taxList);
                                }

                                $taxList.appendTo($taxesTd);
                            }

                            $tr.appendTo($resultsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, currentPage, count, function(newPage) {
                            currentPage = newPage;

                            executeSearch();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="9" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($resultsFooter);
                        }
                    }

                    $searchButton.prop('disabled', false);
                }),
                function(jqXHR, textStatus, errorThrown) {
                    $searchButton.prop('disabled', false);
                }
            );
        }

        executeSearch();
    });
//--></script>
{% endblock %}
