{% extends "base.html.twig" %}

{% use "profile/profile_sidebar.html.twig" %}

{% block title %}MWS Marketplace Credentials{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>Profile</li>
        <li class="active">MWS Marketplace Credentials</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="modal fade" id="addMarketplaceConfigModal" tabindex="-1" role="dialog" aria-labelledby="addMarketplaceConfigLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form data-toggle="validator" class="form-horizontal" id="addMarketplaceForm" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addMarketplaceConfigLabel">Add Marketplace Credential</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger hidden" id="addMarketplaceConfigFormError" role="alert"></div>
                        <div class="form-group form-group-sm">
                            <label for="endpointId" class="col-sm-3 control-label">Endpoint</label>
                            <div class="col-sm-2">
                                <select id="endpointId" name="_endpoint_id" title="Endpoint" class="form-control-static" required>
                                    <option value="">...</option>
                                    {% for endpoint in endpoints %}
                                        <option value="{{ endpoint.id }}">{{ endpoint.endpoint }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="awsAccessKeyId" class="col-sm-3 control-label">AWS Access Key ID</label>
                            <div class="col-sm-4">
                                <input type="text" id="awsAccessKeyId" name="_access_key" class="form-control-static" placeholder="AWS Access Key ID" required
                                       data-minlength="8">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="awsSecretAccessKey" class="col-sm-3 control-label">AWS Secret Access Key</label>
                            <div class="col-sm-4">
                                <input type="text" id="awsSecretAccessKey" name="_secret_access_key" class="form-control-static" placeholder="AWS Secret Access Key" required
                                       data-minlength="8">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="sellerId" class="col-sm-3 control-label">Seller ID</label>
                            <div class="col-sm-4">
                                <input type="text" id="sellerId" name="_seller_id" class="form-control-static" placeholder="Seller ID" required data-minlength="8">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div>Note: Unsaved changes to configured marketplace credentials will be lost.</div>
                    <br>
                    <button id="add-btn" type="submit" class="btn btn-primary">Add</button>
                    <button id="close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateMarketplaceConfigsErrorModal" tabindex="-1" role="dialog" aria-labelledby="updateMarketplaceConfigsErrorLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateMarketplaceConfigsErrorLabel">Error updating marketplace credentials</h4>
                </div>
                <div id="updateMarketplaceConfigsError" class="modal-body"></div>
                <div class="modal-footer">
                    <button id="close-err-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMarketplaceConfigModal">Add Credential</button>
    </div>
    <div class="row">
        <h2 class="sub-header">Configured Marketplace Credentials</h2>
        <div class="table-responsive">
            <table id="mws_credentials_table" data-toggle="table" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-id-field="id" data-sort-name="id" data-sort-order="desc"
                   data-check-on-init="true" data-side-pagination="server" data-url="{{ path("profile_mws_credentials_json") }}">
                <thead>
                    <tr>
                        <th data-field="id" data-sortable="true">Id</th>
                        <th data-field="endpoint" data-sortable="true">Endpoint</th>
                        <th data-field="aws_access_key_id" data-editable="true" data-sortable="true">AWS Access Key ID</th>
                        <th data-field="aws_secret_access_key" data-editable="true" data-sortable="true">AWS Secret Access Key</th>
                        <th data-field="seller_id" data-editable="true" data-sortable="true">Seller Id</th>
                        <th data-field="updated" data-sortable="true">Last Updated</th>
                    </tr>
                </thead>
            </table>
            <button id="save-btn" type="submit" class="btn btn-primary">Save Changes</button>
            <button id="reset-btn" type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        $('#add-btn').click(function() {
            var button = $(this);

            button.attr('disabled', true);

            $.ajax({
                'type': 'POST',
                'url': '{{ path("profile_mws_credentials_add") }}',
                'data': $('#addMarketplaceForm').serialize()
            })
            .done(function(result, textStatus, jqXHR) {
                $('#mws_credentials_table').bootstrapTable('refresh');
                $('#addMarketplaceConfigModal').modal('hide');
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                var error = $('#addMarketplaceConfigFormError');

                error.html('');

                if(jqXHR.responseText) {
                    var response = $.parseJSON(jqXHR.responseText);

                    if(response.hasOwnProperty('error')) {
                        error.html(response['error']);
                    } else if(response.hasOwnProperty('errors')) {
                        var allErrors = response['errors'];

                        for(var errorPath in allErrors) {
                            if(allErrors.hasOwnProperty(errorPath)) {
                                var pathErrors = allErrors[errorPath];
                                var pathText = 'Error' + (pathErrors.length > 1 ? 's' : '') + ' for field: ' + errorPath + ' - ';
                                var first = true;

                                for(var errorKey in pathErrors) {
                                    if(pathErrors.hasOwnProperty(errorKey)) {
                                        pathText += (first ? '' : ', ') + '&quot;' + pathErrors[errorKey] + '&quot;';
                                        first = false;
                                    }
                                }

                                $('<p>' + pathText + '</p>').appendTo('#addMarketplaceConfigFormError');
                            }
                        }
                    } else {
                        error.html('Request failed - status: ' + textStatus + ', response: ' + jqXHR.responseText);
                    }
                } else {
                    error.html('Request failed - status: ' + textStatus);
                }

                error.removeClass('hidden');
            })
            .always(function() {
                $('#add-btn').removeAttr('disabled');
            });
        });
        $('#addMarketplaceConfigModal').on('hidden.bs.modal', function() {
            var error = $('#addMarketplaceConfigFormError');

            error.addClass('hidden');
            error.html('');
        });
        $('#updateMarketplaceConfigsErrorModal').on('hidden.bs.modal', function() {
            $('#updateMarketplaceConfigsError').html('');
        });
        $('#reset-btn').click(function() {
            $('.editable').each(function() {
                var a = $(this);

                if(a.text() != a.attr('data-value')) {
                    a.editable('setValue', a.attr('data-value'));
                    a.removeClass('editable-unsaved');
                }

                $('#save-btn').removeAttr('disabled');
            });
        });
        $('#save-btn').click(function() {
            var saveTable = {'count':0};

            $('#mws_credentials_table > tbody > tr').each(function() {
                var tr = $(this);
                var row = {};
                var rowChanged = false;

                tr.children().each(function(idx, val) {
                    var td = $(this);

                    if(idx == 0) {
                        row['id'] = td.text();
                    } else if(idx == 1) {
                        row['endpoint'] = td.text();
                    } else if(idx < 5) {
                        td.children('a').each(function() {
                            var a = $(this);

                            if(a.text() != a.attr('data-value')) {
                                rowChanged = true;
                            }

                            if(idx == 2) {
                                row['aws_access_key_id'] = a.text();
                            } else if(idx == 3) {
                                row['aws_secret_access_key'] = a.text();
                            } else if(idx == 4) {
                                row['seller_id'] = a.text();
                            }
                        });
                    }
                });

                if(rowChanged) {
                    var count = saveTable['count'];

                    saveTable['id' + count] = row['id'];
                    saveTable['endpoint' + count] = row['endpoint'];
                    saveTable['aws_access_key_id' + count] = row['aws_access_key_id'];
                    saveTable['aws_secret_access_key' + count] = row['aws_secret_access_key'];
                    saveTable['seller_id' + count] = row['seller_id'];
                    saveTable['count']++;
                }
            });

            if(saveTable['count'] > 0) {
                $('#save-btn').attr('disabled', true);

                $.ajax({
                    'type': 'POST',
                    'url': '{{ path("profile_mws_credentials_update") }}',
                    'data': saveTable,
                    'dataType': 'json'
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result.hasOwnProperty('success') && result['success'] === true) {
                        $('.editable').each(function() {
                            var a = $(this);

                            a.attr('data-value', a.text());
                            a.removeClass('editable-unsaved');
                        });
                    } else {
                        alert('Request succeeded but no data was received');
                    }
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    if(jqXHR.responseText) {
                        var response = $.parseJSON(jqXHR.responseText);

                        if(response.hasOwnProperty('errors')) {
                            var allErrors = response['errors'];

                            for(var errorPath in allErrors) {
                                if(allErrors.hasOwnProperty(errorPath)) {
                                    var pathErrors = allErrors[errorPath];
                                    var pathText = 'Error' + (pathErrors.length > 1 ? 's' : '') + ' for field: ' + errorPath + ' - ';
                                    var first = true;

                                    for(var errorKey in pathErrors) {
                                        if(pathErrors.hasOwnProperty(errorKey)) {
                                            pathText += (first ? '' : ', ') + '&quot;' + pathErrors[errorKey] + '&quot;';
                                        }
                                    }

                                    $('<p>' + pathText + '</p>').appendTo('#updateMarketplaceConfigsError');
                                }
                            }

                            $('#updateMarketplaceConfigsErrorModal').modal();
                        } else {
                            alert('Request failed - status: ' + textStatus + ', response: ' + jqXHR.responseText);
                        }
                    } else {
                        alert('Request failed - status: ' + textStatus);
                    }
                })
                .always(function() {
                    $('#save-btn').removeAttr('disabled');
                });
            }
        });
    });
//--></script>
{% endblock %}
