{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_AUTH")) %}
            <li{% if side_section is defined and side_section == "settings" %} class="active"{% endif %}><a href="{{ path("profile_settings") }}">Settings{% if side_section is defined and side_section == "settings" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
        {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_AUTH")) %}
            <li{% if side_section is defined and side_section == "auth" %} class="active"{% endif %}><a href="{{ path("profile_auth") }}">Authentication{% if side_section is defined and side_section == "auth" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
        {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
            <li{% if side_section is defined and side_section == "printers" %} class="active"{% endif %}><a href="{{ path("profile_printers") }}">Label Printers{% if side_section is defined and side_section == "printers" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
        {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
            <li{% if side_section is defined and side_section == "mws_credentials" %} class="active"{% endif %}><a href="{{ path("profile_mws_credentials") }}">Amazon MWS Credentials{% if side_section is defined and side_section == "mws_credentials" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
