{% extends "base.html.twig" %}

{% use "profile/profile_sidebar.html.twig" %}

{% block title %}Authentication{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>Profile</li>
        <li class="active">Authentication</li>
    </ul>
{% endblock %}
{% block content %}
    <form role="form" autocomplete="off" action="{{ path("profile_auth_update") }}" method="post">
        <div class="form-group">
            <label for="change">Change Password</label>
            <input id="change" name="_change" type="password" placeholder="Password" autocomplete="off" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input id="confirm" name="_confirm" type="password" placeholder="Confirm Password" autocomplete="off" class="form-control" required>
        </div>
        <p>Note: You will be asked to login again after successfully changing your password.</p>
        <div class="form-group">
            <button id="save-btn" type="submit" class="btn btn-primary">Save Changes</button>
            <button id="reset-btn" type="reset" class="btn btn-warning">Reset</button>
        </div>
    </form>
{% endblock %}
