{% extends "base.html.twig" %}

{% use "profile/profile_sidebar.html.twig" %}

{% block title %}Label Printers{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>Profile</li>
        <li class="active">Label Printers</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="facilitiesDropdown" class="btn-group"></div>
        </div>
        <div class="table-responsive">
            <table id="printersTable" class="table table-bordered table-hover table-striped"></table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    function generateApiKey(facilityId) {
        wrapAjax(
            $.ajax({
                'type': 'GET',
                'url': '{{ path("profile_printers_generate_facility_gateway_api_key") }}',
                'data': {'facility_id': facilityId}
            })
            .done(function(result, textStatus, jqXHR) {
                if(result['total'] == 1) {
                    var generated = result['rows'][0];
                    var facilityCode = generated['facility_code'];
                    var facilityName = generated['facility_name'];
                    var apiKey = generated['api_key'];

                    createAlert('Generated API key for ' + facilityName + ' (' + facilityCode + '): ' + apiKey, 'success');
                    messageDialog(
                        'generatedApiKey',
                        'Generated API key for ' + facilityName + ' (' + facilityCode + ')',
                        '<p>' + apiKey + '</p>' +
                        '<p>This key will expire in 24 hours if not used.</p>'
                    );
                }
            })
        );
    }

    function displayLabelPrintersInFacility(facilityId) {
        wrapAjax(
            $.ajax({
                'type': 'GET',
                'url': '{{ path("profile_printers_facility_printers_json") }}',
                'data': {'facility_id': facilityId}
            })
            .done(function(result, textStatus, jqXHR) {
                var $tbl = $('#printersTable');
                var $thead = $('<thead/>');
                var $tbody = $('<tbody/>');
                var $generateButtonRow = $('<tr/>');
                var $generateButtonCell = $('<td colspan="5"/>').appendTo($generateButtonRow);

                if(result['total'] > 0) {
                    $('<tr><th>Make</th><th>Model</th><th>Name</th><th>Status</th><th>Last Status Change</th></tr>').appendTo($thead);
                    $.each(result['rows'], function(index, item) {
                        $(
                            '<tr class="' + (item.ready ? 'success' : 'warning') + '">' +
                                '<td>' + item.manufacturer + '</td>' +
                                '<td>' + item.product_name + '</td>' +
                                '<td>' + item.system_name + '</td>' +
                                '<td>' + item.status_description + '</td>' +
                                '<td>' +
                                    timestampFormat(
                                        (item.status_updated !== null ? item.status_updated : (
                                            item.updated === null ? item.created : item.update
                                        )),
                                        '{{ timezone.name }}'
                                    ) +
                                '</td>' +
                            '</tr>'
                        ).appendTo($tbody);
                    });
                }

                $('<button type="button" role="button" class="btn btn-default">Generate API Key</button>')
                    .data('facility_id', '' + facilityId)
                    .click(function() {
                        var $button = $(this);
                        var facilityId = $button.data('facility_id');

                        generateApiKey(facilityId);
                    })
                    .appendTo($generateButtonCell)
                ;

                $generateButtonRow.appendTo($tbody);
                $tbl.empty();
                $thead.appendTo($tbl);
                $tbody.appendTo($tbl);
            })
        );
    }

    $(function() {
        wrapAjax(
            $.ajax({
                'type': 'GET',
                'url': '{{ path("profile_printers_facilities_json") }}',
                'dataType': 'json'
            })
            .done(function(result, textStatus, jqXHR) {
                var $dropdown = $('#facilitiesDropdown');
                var $dropdownButton = $('<button type="button" role="button" class="btn btn-default dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>').appendTo($dropdown);
                var $dropdownButtonLabel = $('<div id="facilitiesDropdownLabel"/>').appendTo($dropdownButton);
                var $dropdownContents = $('<ul class="dropdown-menu" aria-labelledby="facilitiesDropdownLabel"/>').appendTo($dropdown);

                $dropdownButtonLabel.html('Select a facility... <span class="caret"></span>');

                if(result['total'] > 0) {
                    $.each(result['rows'], function(index, item) {
                        $('<li/>')
                            .html(item['name'] + ' (' + item['code'] + ')')
                            .data('id', '' + item['id'])
                            .click(function() {
                                var $listItem = $(this);
                                var facilityId = $listItem.data('id');
                                var oldFacilityId = $dropdownButtonLabel.data('id');

                                if(facilityId !== oldFacilityId) {
                                    $dropdownButtonLabel
                                        .html('Facility: ' + $listItem.text())
                                        .data('id', '' + facilityId)
                                    ;
                                    displayLabelPrintersInFacility(facilityId);
                                }
                            })
                            .appendTo($dropdownContents)
                        ;
                    });
                }
            })
        );
    });
//--></script>
{% endblock %}
