{% extends "base.html.twig" %}

{% use "profile/profile_sidebar.html.twig" %}

{% block title %}Settings{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>Profile</li>
        <li class="active">Settings</li>
    </ul>
{% endblock %}
{% block content %}
    <form role="form" action="{{ path("profile_settings_update") }}" method="post">
        <div class="form-group">
            <label for="selectTimezone" class="col-sm-2 control-label">Timezone</label>
            <select class="form-control" id="selectTimezone" name="timezone_id">
                {% for timezone in timezones %}
                    <option value="{{ timezone.id }}"{% if user.timezoneId == timezone.id or (user.timezoneId is null and timezone.name == "America/Los_Angeles") %} selected{% endif %}>{{ timezone.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button id="save-btn" type="submit" class="btn btn-primary">Save Changes</button>
            <button id="reset-btn" type="reset" class="btn btn-warning">Reset</button>
        </div>
    </form>
{% endblock %}
