{% extends "base.html.twig" %}

{% block title %}Users{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Users</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="table-responsive">
            <table id="table" data-toggle="table" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-side-pagination="server" data-url="{{ path("users_json") }}" data-id-field="id">
                <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="name" data-sortable="true" data-formatter="userFormatter">Name</th>
                    <th data-field="roles">Roles</th>
                    <th data-field="updated" data-sortable="true">Last Updated</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    function userFormatter(value, row, index) {
        return '<a href="' + value + '">' + value + '</a>';
    }
//--></script>
{% endblock %}
