{% extends "base.html.twig" %}

{% block title %}{{ user.name }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("users") }}">Users</a></li>
        <li class="active">{{ user.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="modal fade" id="removeRoleModal" tabindex="-1" role="dialog" aria-labelledby="removeRoleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="removeRoleModalLabel">Confirm Remove</h4>
                </div>
                <div id="removeRole" class="modal-body"></div>
                <div class="modal-footer">
                    <button id="confirm-remove-role-btn" type="button" class="btn btn-primary">Confirm</button>
                    <button id="close-remove-role-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeFacilityModal" tabindex="-1" role="dialog" aria-labelledby="removeFacilityModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="removeFacilityModalLabel">Confirm Remove</h4>
                </div>
                <div id="removeFacility" class="modal-body"></div>
                <div class="modal-footer">
                    <button id="confirm-remove-facility-btn" type="button" class="btn btn-primary">Confirm</button>
                    <button id="close-remove-facility-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="errorModalLabel"></h4>
                </div>
                <div id="errorModalBody" class="modal-body"></div>
                <div class="modal-footer">
                    <button id="close-err-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h1>User: {{ user.name }}</h1>
    </div>
    <div class="col-sm-9 col-md-10">
        <h2 class="sub-header">Roles</h2>
        <form role="form" class="form-horizontal" action="{{ path("users_add_role", { userName: user.name }) }}" method="get">
            <div class="form-group">
                <label for="select_role" class="col-sm-2 control-label">Add a Role</label>
                <div class="col-sm-3 col-md-3">
                    <select id="select_role" name="_role" class="form-control-static" title="Role" required>
                        <option value="">...</option>
                        {% for role in possible_roles %}
                            {% if role != constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_SUPERADMIN") %}
                                <option>{{ role }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <button id="add-role-btn" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <h4>Existing Roles</h4>
        <ul class="col-sm-4 col-md-4">
            {% for role in roles %}
                <li id="role-{{ role }}" class="list-group-item">
                    {% if role != constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_SUPERADMIN") %}
                        <a href="#"><span id="remove-role-{{ role }}" class="glyphicon glyphicon-remove pull-right" data-role="{{ role }}"></span></a>
                    {% endif %}
                    {{ role }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9 col-md-10">
        <h2 class="sub-header">Facilities</h2>
        <form role="form" class="form-horizontal" action="{{ path("users_add_facility", { userName: user.name }) }}" method="get">
            <div class="form-group">
                <label for="select_facility" class="col-sm-2 control-label">Add a Facility</label>
                <div class="col-sm-3 col-md-3">
                    <select id="select_facility" name="_facility_id" class="form-control-static" title="Facility" required>
                        <option value="">...</option>
                        {% for possible_facility in possible_facilities %}
                            <option value="{{ possible_facility.id }}">{{ possible_facility.name }} ({{ possible_facility.code }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <button id="add-facility-btn" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <h4>Existing Facilities</h4>
        <ul class="col-sm-4 col-md-4">
            {% for facility in facilities %}
                <li id="facility-{{ facility.id }}" class="list-group-item">
                    <a href="#"><span id="remove-facility-{{ facility.id }}" class="glyphicon glyphicon-remove pull-right" data-facility-id="{{ facility.id }}"></span></a>
                    {{ facility.name }} ({{ facility.code }})
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9 col-md-10">
        <h2 class="sub-header">Events</h2>
        <div class="table-responsive">
            <table id="table" data-toggle="table" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-sort-name="occurred" data-sort-order="desc"
                   data-side-pagination="server" data-url="{{ path("users_events_json", { userName: user.name }) }}">
                <thead>
                    <tr>
                        <th data-field="occurred" data-sortable="true">Occurred</th>
                        <th data-field="ipv4" data-sortable="true">IPv4</th>
                        <th data-field="ipv6" data-sortable="true">IPv6</th>
                        <th data-field="admin_session_id" data-sortable="true">Session ID</th>
                        <th data-field="event_name">Type</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script language="javascript"><!--
    $(function() {
        $('[id^=remove-role-]').click(function(e) {
            var remove = $(this);
            var removeModal = $('#removeRoleModal');
            var role = remove.attr('id').substr(12);

            $('#removeRole').html('Are you sure you want to remove the role: ' + role + ' from user: {{ user.name }}?');

            removeModal.data('role', role);
            removeModal.modal();

            e.preventDefault();
        });
        $('#removeRoleModal').on('hidden.bs.modal', function() {
            var modal = $(this);

            modal.removeData('role');
            $('#removeRole').html('');
        });
        $('#confirm-remove-role-btn').click(function() {
            var removeModal = $('#removeRoleModal');
            var role = removeModal.data('role');

            $.ajax({
                'type': 'GET',
                'url': '{{ path("users_remove_role", { userName: user.name }) }}',
                'data': '_role=' + role
            })
            .done(function(result, textStatus, jqXHR) {
                $('#role-' + role).remove();
                $('#removeRoleModal').modal('hide');
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                var error = $('#errorModalBody');

                error.html('');

                if(jqXHR.responseText) {
                    var response = $.parseJSON(jqXHR.responseText);

                    if(response.hasOwnProperty('error')) {
                        error.html(response['error']);
                    } else {
                        error.html('Request failed - status: ' + textStatus + ', response: ' + jqXHR.responseText);
                    }
                } else {
                    error.html('Request failed - status: ' + textStatus);
                }

                error.removeClass('hidden');
            })
            .always(function() {
                $('#add-role-btn').removeAttr('disabled');
            });
        });

        $('[id^=remove-facility-]').click(function(e) {
            var remove = $(this);
            var removeModal = $('#removeFacilityModal');
            var facilityId = remove.attr('id').substr(16);

            $('#removeFacility').html('Are you sure you want to remove facility #' + facilityId + ' from user: {{ user.name }}?');

            removeModal.data('facility-id', facilityId);
            removeModal.modal();

            e.preventDefault();
        });
        $('#removeFacilityModal').on('hidden.bs.modal', function() {
            var modal = $(this);

            modal.removeData('facility-id');
            $('#removeFacility').html('');
        });
        $('#confirm-remove-facility-btn').click(function() {
            var removeModal = $('#removeFacilityModal');
            var facilityId = removeModal.data('facility-id');

            $.ajax({
                'type': 'GET',
                'url': '{{ path("users_remove_facility", { userName: user.name }) }}',
                'data': '_facility_id=' + facilityId
            })
            .done(function(result, textStatus, jqXHR) {
                $('#facility-' + facilityId).remove();
                $('#removeFacilityModal').modal('hide');
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                var error = $('#errorModalBody');

                error.html('');

                if(jqXHR.responseText) {
                    var response = $.parseJSON(jqXHR.responseText);

                    if(response.hasOwnProperty('error')) {
                        error.html(response['error']);
                    } else {
                        error.html('Request failed - status: ' + textStatus + ', response: ' + jqXHR.responseText);
                    }
                } else {
                    error.html('Request failed - status: ' + textStatus);
                }

                error.removeClass('hidden');
            })
            .always(function() {
                $('#add-facility-btn').removeAttr('disabled');
            });
        });
    });
//--></script>
{% endblock %}
