<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ink Hero: Create Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style><!--
        /*!
         * IE10 viewport hack for Surface/desktop Windows 8 bug
         * Copyright 2014-2015 Twitter, Inc.
         * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
         */
        @-webkit-viewport { width: device-width; }
        @-moz-viewport    { width: device-width; }
        @-ms-viewport     { width: device-width; }
        @-o-viewport      { width: device-width; }
        @viewport         { width: device-width; }

        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-create {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-create .form-create-heading  {
            margin-bottom: 10px;
        }
        .form-create .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-create .form-control:focus {
            z-index: 2;
        }
        .form-create input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-create input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    //--></style>
</head>
<body>
<div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% if app.session.flashbag is defined %}
            {% for flash_type in [ 'success', 'info', 'warning', 'danger' ] %}
                {% if app.session.flashbag.peek(flash_type) %}
                    {% for flash_message in app.session.flashbag.get(flash_type) %}
                        <div class="alert alert-{{ flash_type }} alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <form role="form" class="form-create" data-toggle="validator" autocomplete="off" action="{{ path("login_create_submit") }}" method="post">
        <h2 class="form-create-heading">Create Login</h2>
        <div class="form-group">
            <label for="user" class="control-label">Username</label>
            <input type="text" maxlength="30" id="user" name="_username" placeholder="Username" class="form-control" required autofocus
                   pattern="^[a-zA-Z0-9]+$" data-error="Usernames may only contain letters and numbers.">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="pass" class="control-label">Password</label>
            <input type="password" id="pass" name="_new" placeholder="Password" class="form-control" autocomplete="off" required
                   data-minlength="6">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="confirm" class="control-label">Confirm Password</label>
            <input type="password" id="confirm" name="_confirm" placeholder="Confirm Password" class="form-control" autocomplete="off" required
                   data-minlength="6" data-match="#pass" data-match-error="Passwords do not match">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button id="save-btn" type="submit" class="btn btn-primary">Create</button>
        </div>
        <p>Note: You will be asked to login after successfully creating your account.</p>
    </form>
</div>
<script language="javascript">//<![CDATA[
    (function() {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle);
        }
    })();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.min.js"></script>
</body>
</html>
