{% extends "base.html.twig" %}

{% use "shipping/shipping_sidebar.html.twig" %}

{% block title %}Shipping{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Shipping</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Shipping</h3>
        </div>
        <div class="panel-body">
            <p>
                The shipping module contains records of the complete shipping process including parcels, shipments,
                rates and tracking information. Shipments can either be entered manually or retrieved automatically from
                data sources on a scheduled or on-demand basis.
            </p>
            <p>
                Employees of each region and/or subsidiary may be given access to all shipping records or only
                the particular components that pertain to their job responsibilities and/or the entity which employs
                them.
            </p>
        </div>
    </div>
{% endblock %}
