<div class="form-group">
    <label for="inputParcelLength" class="col-sm-2 control-label">Length (inches)</label>
    <div class="col-sm-10">
        <input id="inputParcelLength" class="form-control" type="number" min="0.0" max="9999.9" step="0.1" placeholder="8.7">
    </div>
</div>
<div class="form-group">
    <label for="inputParcelWidth" class="col-sm-2 control-label">Width (inches)</label>
    <div class="col-sm-10">
        <input id="inputParcelWidth" class="form-control" type="number" min="0.0" max="9999.9" step="1" placeholder="5.5">
    </div>
</div>
<div class="form-group">
    <label for="inputParcelHeight" class="col-sm-2 control-label">Height (inches)</label>
    <div class="col-sm-10">
        <input id="inputParcelHeight" class="form-control" type="number" min="0.0" max="9999.9" step="0.1" placeholder="3.8">
    </div>
</div>
<div class="form-group">
    <label for="inputParcelWeight" class="col-sm-2 control-label">Weight (ounces)</label>
    <div class="col-sm-10">
        <input id="inputParcelWeight" class="form-control" type="number" min="0.0" max="9999.9" step="0.1" placeholder="4.5">
    </div>
</div>
