<button id="easypostModalButton" class="btn btn-success" type="button" role="button" onclick="easypostCompleteStep2({{ shipment.id }}, {{ facility.id }}, {{ easypost_account.id }}, {{ easypost_address.id }});">Submit</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
