<div class="modal fade" id="easypostModal" tabindex="-1" role="dialog" aria-labelledby="easypostModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="easypostModalLabel">Ship with Easypost</h4>
            </div>
            <div class="modal-body">
                <div id="easypostModalAlerts"></div>
                <form id="easypostModalForm" class="form-horizontal">
                    <div id="easypostModalBody">
                        {{ body|raw }}
                    </div>
                    <div id="easypostModalVars">
                        {{ vars|raw }}
                    </div>
                </form>
            </div>
            <div id="easypostModalFooter" class="modal-footer">
                {{ footer|raw }}
            </div>
        </div>
    </div>
</div>
