{% if parcel_length is defined and parcel_length is not null %}
    <input type="hidden" name="parcel_length" value="{{ parcel_length }}">
{% endif %}
{% if parcel_width is defined and parcel_width is not null %}
    <input type="hidden" name="parcel_width" value="{{ parcel_width }}">
{% endif %}
{% if parcel_height is defined and parcel_height is not null %}
    <input type="hidden" name="parcel_height" value="{{ parcel_height }}">
{% endif %}
{% if parcel_weight is defined and parcel_weight is not null %}
    <input type="hidden" name="parcel_weight" value="{{ parcel_weight }}">
{% endif %}
{% if facility is defined and facility is not null %}
    <input type="hidden" name="facility_id" value="{{ facility.id }}">
{% endif %}
{% if easypost_account is defined and easypost_account is not null %}
    <input type="hidden" name="easypost_account_id" value="{{ easypost_account.id }}">
{% endif %}
{% if easypost_address is defined and easypost_address is not null %}
    <input type="hidden" name="easypost_address_id" value="{{ easypost_address.id }}">
{% endif %}
