{% extends "base.html.twig" %}

{% use "shipping/shipping_sidebar.html.twig" %}

{% block title %}Shipments{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("shipping") }}">Shipping</a></li>
        <li class="active">Shipments</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <form id="searchForm" class="form-inline">
                <div class="form-group">
                    <label for="searchSource" class="control-label">Source</label>
                    <select id="searchSource" class="form-control" title="Filter by data source">
                        <option value="" selected>All</option>
                        <option value="manual">Manual</option>
                        {% for dataSource in data_sources %}
                            <option value="{{ dataSource.id }}">{{ dataSource.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchCarrier" class="control-label">Carrier</label>
                    <select id="searchCarrier" class="form-control" title="Filter by carrier">
                        <option value="" selected>All</option>
                        {% for shippingCarrier in shipping_carriers %}
                            <option value="{{ shippingCarrier.id }}">{{ shippingCarrier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchSenderOrganization" class="control-label">Sender</label>
                    <select id="searchSenderOrganization" class="form-control" title="Filter by sender">
                        <option value="" selected>All</option>
                        {% for senderOrganization in sender_organizations %}
                            <option value="{{ senderOrganization.id }}">{{ senderOrganization.name }}{% if senderOrganization.code is not null %} ({{ senderOrganization.code }}){% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchRecipientOrganizationName" class="control-label">Recipient Organization</label>
                    <input id="searchRecipientOrganizationName" class="form-control" type="search" title="Filter by recipient organization">
                    <div id="searchRecipientOrganizationNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchContactName" class="control-label">Recipient Name</label>
                    <input id="searchContactName" class="form-control" type="search" title="Filter by recipient name">
                    <div id="searchContactNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchCountry" class="control-label">Country</label>
                    <select id="searchCountry" class="form-control" title="Filter by country">
                        <option value="" selected>All</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }} ({{ country.isoCode }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchCount" class="control-label">Display</label>
                    <select id="searchCount" class="form-control" title="Number of results to display">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>250</option>
                    </select>
                </div>
                <button id="searchButton" type="button" role="button" class="btn btn-success">Search</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleSortCreated">Recorded <span id="showSortCreated" class="pull-right"></span></th>
                        <th id="toggleSortStatusName">Status <span id="showSortStatusName" class="pull-right"></span></th>
                        <th id="toggleSortShipped">Shipped <span id="showSortShipped" class="pull-right"></span></th>
                        <th id="toggleSortOrder">Order #<span id="showSortOrder" class="pull-right"></span></th>
                        <th id="toggleSortSenderOrganization">Sender <span id="showSortSenderOrganization" class="pull-right"></span></th>
                        <th id="toggleSortCarrier">Carrier <span id="showSortCarrier" class="pull-right"></span></th>
                        <th id="toggleSortCountry">Country <span id="showSortCountry" class="pull-right"></span></th>
                        <th id="toggleSortContactName">Recipient <span id="showSortContactName" class="pull-right"></span></th>
                        <th id="toggleSortRecipientOrganization">Organization <span id="showSortRecipientOrganization" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
                <tfoot id="resultsFooter"></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $resultsBody = $('#resultsBody');
        var $resultsFooter = $('#resultsFooter');
        var $searchButton = $('#searchButton');
        var $searchForm = $('#searchForm');
        var $searchSource = $('#searchSource');
        var $searchCarrier = $('#searchCarrier');
        var $searchSenderOrganization = $('#searchSenderOrganization');
        var $searchRecipientOrganizationName = $('#searchRecipientOrganizationName');
        var $searchContactName = $('#searchContactName');
        var $searchCountry = $('#searchCountry');
        var $searchCount = $('#searchCount');
        var currentPage = 1;
        var sortColumn = 'created';
        var sortDirection = -1;

        $searchForm.submit(false);

        $('[id^=toggleSort]').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(10).toLowerCase() + id.slice(11);

            $this.click(function(e) {
                toggleSort(e, toggleColumn);
            });
        });
        $searchButton.click(function() {
            currentPage = 1;

            executeSearch();
        });

        $searchContactName.autocomplete({
            appendTo: '#searchContactNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("shipping_shipments_recipient_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'shipping_carrier_id': $searchCarrier.val(),
                            'sender_organization_id': $searchSenderOrganization.val(),
                            'recipient_organization_name': $searchRecipientOrganizationName.val(),
                            'name': $searchContactName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchContactNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        $searchRecipientOrganizationName.autocomplete({
            appendTo: '#searchRecipientOrganizationNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("shipping_shipments_recipient_organizations_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'shipping_carrier_id': $searchCarrier.val(),
                            'name': $searchContactName.val(),
                            'recipient_organization_name': $searchRecipientOrganizationName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchRecipientOrganizationNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        function toggleSort(e, column) {
            e.preventDefault();

            if(!$resultsBody.is(':empty')) {
                if(sortColumn == column) {
                    sortDirection = (sortDirection == 1 ? -1 : 1);
                } else {
                    sortColumn = column;
                    sortDirection = 1;
                }

                executeSearch();
            }
        }

        function executeSearch() {
            $searchButton.prop('disabled', true);
            $resultsBody.empty();
            $resultsFooter.empty();

            var sortColumnUpper = sortColumn.charAt(0).toUpperCase() + sortColumn.slice(1);

            $('[id^=toggleSort]')
                .removeClass('bg-info')
            ;
            $('span[id^=showSort]')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#toggleSort' + sortColumnUpper)
                .addClass('bg-info')
            ;
            $('#showSort' + sortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (sortDirection === 1 ? 'up' : 'down'))
            ;

            var count = $searchCount.val();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("shipping_shipments_json") }}',
                    'data': {
                        'data_source_id': $searchSource.val(),
                        'shipping_carrier_id': $searchCarrier.val(),
                        'sender_organization_id': $searchSenderOrganization.val(),
                        'recipient_organization_name': $searchRecipientOrganizationName.val(),
                        'name': $searchContactName.val(),
                        'country_id': $searchCountry.val(),
                        'page': currentPage,
                        'sort_column': sortColumn,
                        'sort_direction': sortDirection,
                        'count': count
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            var $tr = $('<tr data-shipment-id="' + item['id'] + '">');
                            var $createdTd = $('<td data-field="created"/>').appendTo($tr);
                            var $statusTd = $('<td data-field="status"/>').appendTo($tr);
                            var $shippedTd = $('<td data-field="shipped"/>').appendTo($tr);
                            var $orderTd = $('<td data-field="order"/>').appendTo($tr);
                            var $senderTd = $('<td data-field="sender_organization_name"/>').appendTo($tr);
                            var $carrierTd = $('<td data-field="carrier"/>').appendTo($tr);
                            var $countryTd = $('<td data-field="country"/>').appendTo($tr);
                            var $recipientTd = $('<td data-field="recipient"/>').appendTo($tr);
                            var $recipientOrganizationTd = $('<td data-field="recipient_organization_name"/>').appendTo($tr);

                            $('<a/>')
                                .attr('href', '{{ path("shipping_shipments") }}' + item['id'])
                                .html(timestampFormat(item['created'], '{{ timezone.name }}'))
                                .appendTo($createdTd)
                            ;

                            $shippedTd.html(timestampFormat(item['shipped'], '{{ timezone.name }}'));

                            addTextOrNbsp($statusTd, item['shipment_status_name']);
                            addTextOrNbsp($senderTd, item['sender_organization_name']);
                            addTextOrNbsp($carrierTd, item['shipping_carrier_name']);
                            addTextOrNbsp($countryTd, item['country_code']);
                            addTextOrNbsp($recipientOrganizationTd, item['recipient_organization_name']);

                            if(item['sales_order_id'] === null) {
                                $orderTd.html('&nbsp;');
                            } else {
                                $('<a/>')
                                    .attr('href', '{{ path("sales_orders") }}/' + item['sales_order_id'])
                                    .html(item['sales_order_id'])
                                    .appendTo($orderTd)
                                ;
                            }

                            if(item['recipient_name'] === null) {
                                $recipientTd.html('&nbsp;');
                            } else {
                                $('<a/>')
                                    .attr('href', '{{ path("crm_contacts") }}/' + item['contact_person_id'])
                                    .text(item['recipient_name'])
                                    .appendTo($recipientTd)
                                ;
                            }

                            $tr.appendTo($resultsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, currentPage, count, function(newPage) {
                            currentPage = newPage;

                            executeSearch();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="9" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($resultsFooter);
                        }
                    }

                    $searchButton.prop('disabled', false);
                }),
                function(jqXHR, textStatus, errorThrown) {
                    $searchButton.prop('disabled', false);
                }
            );
        }

        executeSearch();
    });
//--></script>
{% endblock %}
