{% extends "base.html.twig" %}

{% use "shipping/shipping_sidebar.html.twig" %}

{% block title %}Shipment #{{ shipment.id }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("shipping") }}">Shipping</a></li>
        <li><a href="{{ path("shipping_shipments") }}">Shipments</a></li>
        <li class="active">Shipment #{{ shipment.id }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Shipment #{{ shipment.id }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                {% if shipment.shipped is not null %}<li>Shipped: {{ shipment.shipped|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                <li>{% if data_feeds is empty %}Entered{% else %}Imported{% endif %}: {{ shipment.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if shipment.creator is not null %}<li>Entered by: {{ creator.name }}</li>{% endif %}
                {% if shipment.updated is not null %}<li>Updated: {{ shipment.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                {% if shipment.updater is not null %}<li>Updated by: {{ updater.name }}</li>{% endif %}
                {% if data_feeds is not empty %}
                    Feeds:
                    <ul>
                        {% for data_feed in data_feeds %}
                            <li>
                                {{ data_feed.name }}
                                {% for data_source in data_sources %}
                                    {% if data_source.id == data_feed.dataSourceId %}({{ data_source.name }}){% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if sales_order is not null %}<li>Order: <a href="{{ path("sales_orders") }}/{{ sales_order.id }}">#{{ sales_order.id }}</a></li>{% endif %}
                {% if sender_organization is not null %}<li>Sender: {{ sender_organization.name }}{% if sender_organization.code is not null %}({{ sender_organization.code }}){% endif %}</li>{% endif %}
                {% if recipient_organization is not null %}<li>Recipient Organization: {{ recipient_organization.name }}{% if recipient_organization.code is not null %}({{ recipient_organization.code }}){% endif %}</li>{% endif %}
                {% if contact_person is not null %}<li>Recipient Contact: <a href="{{ path("crm_contacts") }}/{{ contact_person.id }}">{{ contact_person.name }}</a></li>{% endif %}
                {% if shipment_status is not null %}<li>Status: {{ shipment_status.name }}</li>{% endif %}
                {% if contact_address is not null %}<li>Address: <div class="well well-sm"><address>
                    {% if contact_address.line1 is not null %}{{ contact_address.line1 }}<br/>{% endif %}
                    {% if contact_address.line2 is not null %}{{ contact_address.line2 }}<br/>{% endif %}
                    {% if contact_address.line3 is not null %}{{ contact_address.line3 }}<br/>{% endif %}
                    {% if contact_address.city is not null %}{{ contact_address.city }}<br/>{% endif %}
                    {% if contact_address.district is not null %}{{ contact_address.district }}<br/>{% endif %}
                    {% if contact_address.stateOrRegion is not null %}{{ contact_address.stateOrRegion }}<br/>{% endif %}
                    {% if contact_address.postalCode is not null %}{{ contact_address.postalCode }}<br/>{% endif %}
                    {% if country is not null %}{{ country.name }}<br/>{% endif %}
                </address></div></li>{% endif %}
            </ul>
        </div>
        {% if carrier is null %}
            <div class="panel-footer">
                <button id="easypostButton" type="button" role="button" class="btn btn-success">Ship with EasyPost</button>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleProductSortQuantity">Quantity <span id="showProductSortQuantity" class="pull-right"></span></th>
                        <th id="toggleProductSortName">Name <span id="showProductSortName" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="productsBody"></tbody>
                <tfoot id="productsFooter"></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $productsBody = $('#productsBody');
        var $productsFooter = $('#productsFooter');
        var productSortToggle = 'toggleProductSort';
        var productSortShow = 'showProductSort';
        var productCurrentPage = 1;
        var productSortColumn = 'quantity';
        var productSortDirection = 1;
        var $easypostButton = $('#easypostButton');

        if($easypostButton) {
            $easypostButton.click(function() {
                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("shipping_shipments_shipment_easypost", {"shipment": shipment.id}) }}'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        easypostDisplayModal(result);
                    })
                );
            });
        }

        $('[id^=' + productSortToggle + ']').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(productSortToggle.length).toLowerCase() + id.slice(productSortToggle.length + 1);

            $this.click(function(e) {
                toggleProductSort(e, toggleColumn);
            });
        });

        function toggleProductSort(e, column) {
            e.preventDefault();

            if(!$productsBody.is(':empty')) {
                if(productSortColumn == column) {
                    productSortDirection = (productSortDirection == 1 ? -1 : 1);
                } else {
                    productSortColumn = column;
                    productSortDirection = 1;
                }

                refreshProducts();
            }
        }

        function refreshProducts() {
            $productsBody.empty();
            $productsFooter.empty();

            var productSortColumnUpper = productSortColumn.charAt(0).toUpperCase() + productSortColumn.slice(1);

            $('[id^=' + productSortToggle + ']')
                .removeClass('bg-info')
            ;
            $('span[id^=' + productSortShow + ']')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#' + productSortToggle + productSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#' + productSortShow + productSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (productSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("shipping_shipments_shipment_products_json", {"shipment": shipment.id}) }}',
                    'data': {
                        'page': productCurrentPage,
                        'sort_column': productSortColumn,
                        'sort_direction': productSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            var $tr = $('<tr data-product-id="' + item['id'] + '"/>');
                            var $quantityTd = $('<td data-field="quantity"/>').appendTo($tr);
                            var $nameTd = $('<td data-field="name"/>').appendTo($tr);

                            if(item['quantity'] !== null) {
                                $quantityTd.text(item['quantity']);
                            } else {
                                $quantityTd.html('&nbsp;');
                            }

                            if(item['name'] !== null) {
                                $nameTd.text(item['name']);
                            } else {
                                $nameTd.html('&nbsp;');
                            }

                            $tr.appendTo($productsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, productCurrentPage, 5, function(newPage) {
                            productCurrentPage = newPage;

                            refreshProducts();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="9" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($productsFooter);
                        }
                    }
                })
            );
        }

        refreshProducts();
    });
//--></script>
<script src="easypost.js"></script>
{% endblock %}
