{% if facilities|length > 1 %}
    <div class="form-group">
        <label for="easypostModalSelectFacility" class="col-sm-2 control-label">Facility</label>
        <div class="col-sm-10"><select class="form-control" id="easypostModalSelectFacility">
            {% for facility in facilities %}
                <option value="{{ facility.id }}">{{ facility.name }}</option>
            {% endfor %}
        </select></div>
    </div>
{% endif %}
{% if easypost_accounts|length > 1 %}
    <div class="form-group">
        <label for="easypostModalSelectAccount" class="col-sm-2 control-label">Account</label>
        <div class="col-sm-10"><select class="form-control" id="easypostModalSelectAccount">
            {% for easypost_account in easypost_accounts %}
                <option value="{{ easypost_account.id }}">{{ easypost_account.name }}</option>
            {% endfor %}
        </select></div>
    </div>
{% endif %}
