<button id="easypostModalButton" class="btn btn-success" type="button" role="button" onclick="easypostCompleteStep1({{ shipment.id }});">Next</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
