{% extends "base.html.twig" %}

{% use "labels/labels_sidebar.html.twig" %}

{% block title %}Edit Label #{{ label.id }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("labels") }}">Labels</a></li>
        <li class="active">#{{ label.id }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div id="labelContentsPanel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Label #{{ label.id }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Label Type: {{ label_type.name }}</li>
                <li>Created: {{ label.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                <li>Creator: {{ creator.name }}</li>
                {% if label.updated is not null %}<li>Updated: {{ label.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                {% if label.updater is not null %}<li>Updater: {{ updater.name }}</li>{% endif %}
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Year</th>
                        <th>Supplier</th>
                        <th>Quality</th>
                    </tr>
                </thead>
                <tbody id="labelContentsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="updateButton" type="button" role="button" class="btn btn-success">Update</button>
        </div>
    </div>
    <div id="labelPrintHistoryPanel" class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Print History</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Printer</th>
                    <th>Queued</th>
                    <th>Completed</th>
                    <th>Cancelled</th>
                </tr>
                </thead>
                <tbody id="labelPrintHistoryBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <form id="labelReprintForm" class="form-inline">
                <div class="form-group">
                    <label for="selectLabelPrinter" class="control-label">Printer</label>
                    <select id="selectLabelPrinter" class="form-control" name="label_printer" title="Label Printer">
                        {% for printer in printers %}
                            <option value="{{ printer.id }}">{{ printer.productName }} ({{ printer.systemName }})</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="reprintButton" type="button" role="button" class="btn btn-default" disabled>Reprint</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    function refreshLabelContents() {
        $.ajax({
            'type': 'GET',
            'url': '{{ path("labels_contents_json", {"labelId": label.id}) }}'
        })
        .done(function(result, textStatus, jqXHR) {
            var $labelContentsBody = $('#labelContentsBody');

            $labelContentsBody.empty();

            if(result['total'] > 0) {
                $.each(result['rows'], function(index, item) {
                    $(
                        '<tr data-id="' + item['id'] + '">' +
                            '<td data-field="type">' + item['type'] + '</td>' +
                            '<td data-field="name">' + item['name'] + '</td>' +
                            '<td data-field="quantity"><input type="number" class="form-control" maxlength="8" min="0" max="16777215" value="' + (item['quantity'] === null ? "0" : item['quantity']) + '"></td>' +
                            '<td data-field="year"><select class="form-control" title="Year">' +
                                {% set minimumYear = 2010 %}
                                {% set currentYear = "now"|date("Y", timezone.name) %}
                                {% for year in currentYear..minimumYear %}
                                    '<option' + (item['year'] == {{ year }} ? ' selected' : '') + '>{{ year }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                            '<td data-field="supplier"><select class="form-control" title="Supplier">' +
                                {% for supplier in supplier_organizations %}
                                    '<option value="{{ supplier.id }}"' + (item['supplier_organization_id'] == {{ supplier.id }} ? ' selected' : '') + '>{{ supplier.code }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                            '<td data-field="quality"><select class="form-control" title="Quality">' +
                                {% for grade in catalog_quality_grades %}
                                    '<option value="{{ grade.id }}"' + (item['catalog_quality_grade_id'] == {{ grade.id }} ? ' selected' : '') + '>{{ grade.name }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                        '</tr>'
                    ).appendTo($labelContentsBody);

                    $('#updateButton').prop('disabled', false);
                });
            } else {
                $(
                    '<tr class="warning"><td colspan="6">' +
                        'No items remaining.' +
                    '</td></tr>'
                ).appendTo($labelContentsBody);

                $('#updateButton').prop('disabled', true);
            }
        });
    }

    function refreshPrintHistory() {
        $.ajax({
            'type': 'GET',
            'url': '{{ path("labels_print_history_json", {"labelId": label.id}) }}'
        })
        .done(function(result, textStatus, jqXHR) {
            var $labelPrintHistoryBody = $('#labelPrintHistoryBody');

            $labelPrintHistoryBody.empty();

            if(result['total'] > 0) {
                $.each(result['rows'], function(index, item) {
                    var classStr = '';

                    if(item['completed'] !== null) {
                        classStr = ' class="success"';
                    } else if(item['cancelled'] !== null) {
                        classStr = ' class="danger"';
                    }

                    $(
                        '<tr' + classStr + '>' +
                            '<td data-field="printer">' + item['product_name'] + ' (' + item['system_name'] + ')</td>' +
                            '<td data-field="queued">' + timestampFormat(item['queued'], '{{ timezone.name }}') + '</td>' +
                            '<td data-field="completed">' + timestampFormat(item['completed'], '{{ timezone.name }}') + '</td>' +
                            '<td data-field="cancelled">' + timestampFormat(item['cancelled'], '{{ timezone.name }}') + '</td>' +
                        '</tr>'
                    ).appendTo($labelPrintHistoryBody);
                });
            } else {
                $(
                    '<tr class="warning"><td colspan="6">' +
                        'Label has not been printed.' +
                    '</td></tr>'
                ).appendTo($labelPrintHistoryBody);
            }
        });
    }

    $(function() {
        var $updateButton = $('#updateButton');
        var $labelPrinter = $('#selectLabelPrinter');
        var $labelContentsBody = $('#labelContentsBody');

        $('#labelUpdateForm').submit(false);
        $updateButton.prop('disabled', true);

        refreshLabelContents();
        refreshPrintHistory();

        $updateButton.click(function() {
            var label = {
                'label_id': '{{ label.id }}',
                'items': []
            };

            $labelContentsBody.children().each(function() {
                var $tr = $(this);
                var row = {
                    'id': $tr.data('id')
                };

                $tr.children().each(function() {
                    var $td = $(this);
                    var field = $td.data('field');

                    switch(field) {
                        case 'type':
                            row['type'] = $td.text();
                        break;
                        case 'quantity':
                            $td.children('input').each(function() {
                                row['quantity'] = $(this).val();
                            });
                        break;
                        case 'year':
                            $td.children('select').each(function() {
                                row['year'] = $(this).val();
                            });
                        break;
                        case 'supplier':
                            $td.children('select').each(function() {
                                row['supplier_organization_id'] = $(this).val();
                            });
                        break;
                        case 'quality':
                            $td.children('select').each(function() {
                                row['catalog_quality_grade_id'] = $(this).val();
                            });
                        break;
                    }
                });

                label['items'].push(row);
            });

            if(label['items'].length > 0) {
                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("labels_edit_json", {"labelId": label.id}) }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(label),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['stored'] > 0) {
                            createAlert(
                                'Updated #{{ label.id }}, type: {{ label_type.name }}, ' +
                                label['items'].length + ' items',
                                'success', undefined, undefined, 5
                            );
                        }

                        refreshLabelContents();
                    })
                );
            }
        });
    });
//--></script>
{% endblock %}
