{% block sidebar %}
<ul class="nav nav-sidebar">
    <li{% if side_section is defined and side_section == "view" %} class="active"{% endif %}><a href="{{ path("labels") }}">View Labels{% if side_section is defined and side_section == "view" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
    <li{% if side_section is defined and side_section == "create" %} class="active"{% endif %}><a href="{{ path("labels_create") }}">Create Label{% if side_section is defined and side_section == "create" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
</ul>
{% endblock %}
