{% extends "base.html.twig" %}

{% use "labels/labels_sidebar.html.twig" %}

{% block title %}Labels{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Labels</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div id="searchOptionsPanel" class="panel-heading">
            <h3 class="panel-title">Labels</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Queued</th>
                        <th>Printed</th>
                        <th>Cancelled</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    function refreshLabels() {
        $.ajax({
            'type': 'GET',
            'url': '{{ path("labels_search_json") }}'
        })
        .done(function(result, textStatus, jqXHR) {
            var $resultsBody = $('#resultsBody');

            $resultsBody.empty();

            if(result['total'] > 0) {
                $.each(result['rows'], function(index, item) {
                    var editUrl = item['id'] + '/edit';

                    $(
                        '<tr data-id="' + item['id'] + '">' +
                            '<td data-field="id"><a href="' + editUrl + '">' + item['id'] + '</a></td>' +
                            '<td data-field="type">' + item['label_type_name'] + '</td>' +
                            '<td data-field="location">' + item['location_name'] + (item['location_code'] ? (' (' + item['location_code'] + ')') : '') + '</td>' +
                            '<td data-field="queued">' + item['queued'] + '</td>' +
                            '<td data-field="printed">' + item['printed'] + '</td>' +
                            '<td data-field="cancelled">' + item['cancelled'] + '</td>' +
                            '<td data-field="creator">' + item['user_name'] + '</td>' +
                            '<td data-field="created">' +
                                timestampFormat(item['created'], '{{ timezone.name }}') +
                            '</td>' +
                            '<td data-field="updated">' + (
                                item['updated'] == item['created'] ? '&nbsp;' :
                                    timestampFormat(item['updated'], '{{ timezone.name }}')
                                ) +
                            '</td>' +
                        '</tr>'
                    )
                    .appendTo($resultsBody);
                });
            } else {
                $(
                    '<tr class="warning"><td colspan="9">' +
                        'No labels found.' +
                    '</td></tr>'
                ).appendTo($resultsBody);
            }
        });
    }

    $(function() {
        refreshLabels();
    });
//--></script>
{% endblock %}
