{% extends "base.html.twig" %}

{% use "labels/labels_sidebar.html.twig" %}

{% block title %}Create Label{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("labels") }}">Labels</a></li>
        <li class="active">Create</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div id="labelOptionsPanel" class="panel-heading">
            <form id="labelOptionsForm" class="form-inline">
                <div class="form-group">
                    <label for="selectLabelCount" class="control-label">Label Count</label>
                    <select id="selectLabelCount" class="form-control" name="label_count" title="Label Count">
                        {% for count in 1..20 %}
                            <option>{{ count }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectLabelType" class="control-label">Label Type</label>
                    <select id="selectLabelType" class="form-control" name="label_type" title="Label Type">
                        {% for labelType in label_types %}
                            <option value="{{ labelType.id }}">{{ labelType.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectLabelPrinter" class="control-label">Printer</label>
                    <select id="selectLabelPrinter" class="form-control" name="label_printer" title="Label Printer">
                        {% for printer in printers %}
                            <option value="{{ printer.id }}">{{ printer.productName }} ({{ printer.systemName }})</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Year</th>
                        <th>Supplier</th>
                        <th>Quality</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" type="button" role="button" class="btn btn-success">Create</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    function refreshCartItems() {
        $.ajax({
            'type': 'GET',
            'url': '{{ path("catalog_search_json") }}',
            'data': {'search_cart': true}
        })
        .done(function(result, textStatus, jqXHR) {
            var $resultsBody = $('#resultsBody');

            $resultsBody.empty();

            if(result.hasOwnProperty('catalog_selection_session_id') && result['total'] > 0) {
                $resultsBody.data('catalog_selection_session_id', result['catalog_selection_session_id']);

                $.each(result['rows'], function(index, item) {
                    $(
                        '<tr data-id="' + item['id'] + '">' +
                            '<td data-field="type">' + item['type'] + '</td>' +
                            '<td data-field="name">' + item['name'] + '</td>' +
                            '<td data-field="quantity">' + item['quantity'] + '</td>' +
                            '<td data-field="year"><select class="form-control" title="Year">' +
                                {% set minimumYear = 2010 %}
                                {% set currentYear = "now"|date("Y", timezone.name) %}
                                {% for year in currentYear..minimumYear %}
                                    '<option>{{ year }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                            '<td data-field="supplier"><select class="form-control" title="Supplier">' +
                                {% for supplier in supplier_organizations %}
                                    '<option value="{{ supplier.id }}">{{ supplier.code }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                            '<td data-field="quality"><select class="form-control" title="Quality">' +
                                {% for grade in catalog_quality_grades %}
                                    '<option value="{{ grade.id }}">{{ grade.name }}</option>' +
                                {% endfor %}
                            '</select></td>' +
                        '</tr>'
                    ).appendTo($resultsBody);

                    $('#createButton').prop('disabled', false);
                });
            } else {
                $(
                    '<tr class="warning"><td colspan="6">' +
                        'Cart is empty, please <a href="{{ path("catalog") }}">add items from the catalog</a> to create a label for.' +
                    '</td></tr>'
                ).appendTo($resultsBody);

                $('#createButton').prop('disabled', true);
            }
        });
    }

    $(function() {
        var $createButton = $('#createButton');
        var $labelCount = $('#selectLabelCount');
        var $labelType = $('#selectLabelType');
        var $labelPrinter = $('#selectLabelPrinter');
        var $resultsBody = $('#resultsBody');

        $('#labelOptionsForm').submit(false);
        $createButton.prop('disabled', true);

        refreshCartItems();

        $createButton.click(function() {
            var label = {
                'catalog_selection_session_id': $resultsBody.data('catalog_selection_session_id'),
                'count': $labelCount.val(),
                'label_type_id': $labelType.val(),
                'printer_id': $labelPrinter.val(),
                'items': []
            };

            $resultsBody.children().each(function() {
                var $tr = $(this);
                var row = {
                    'id': $tr.data('id')
                };

                $tr.children().each(function() {
                    var $td = $(this);
                    var field = $td.data('field');

                    switch(field) {
                        case 'type':
                            row['type'] = $td.text();
                        break;
                        case 'quantity':
                            row['quantity'] = $td.text();
                        break;
                        case 'year':
                            $td.children('select').each(function() {
                                row['year'] = $(this).val();
                            });
                        break;
                        case 'supplier':
                            $td.children('select').each(function() {
                                row['supplier_organization_id'] = $(this).val();
                            });
                        break;
                        case 'quality':
                            $td.children('select').each(function() {
                                row['catalog_quality_grade_id'] = $(this).val();
                            });
                        break;
                    }
                });

                label['items'].push(row);
            });

            if(label['items'].length > 0) {
                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("labels_create_json") }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(label),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['queued'] > 0) {
                            createAlert(
                                'Queued ' + label['count'] + ' ' + (label['count'] > 1 ? 'labels' : 'label') + ' ' +
                                'of type: ' + $labelType.children('option:selected').text() + ' ' +
                                'for ' + label['items'].length + ' items ' +
                                'to printer: ' + $labelPrinter.text(),
                                'success', undefined, undefined, 5
                            );
                        }

                        refreshCartItems();
                    })
                );
            }
        });
    });
//--></script>
{% endblock %}
