{% extends "base.html.twig" %}

{% use "crm/crm_sidebar.html.twig" %}

{% block title %}CRM{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">CRM</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">CRM</h3>
        </div>
        <div class="panel-body">
            <p>
                The Customer Relationship Management (CRM) module contains records of contact persons and their
                associated companies / organizations and contact methods. Data is aggregated from all available
                sources and changes in information can be tracked independent of their various input channels.
            </p>
            <p>
                Employees of each region and/or subsidiary may be given access to all records or only
                the particular feeds / contact types that pertain to their job responsibilities and/or
                the entity which employs them. Authorization can be provided as read-only, read/write or in
                some cases as write-only.
            </p>
        </div>
    </div>
{% endblock %}
