{% extends "base.html.twig" %}

{% use "crm/crm_sidebar.html.twig" %}

{% block title %}Contacts{% endblock %}
{% block head %}
    <style><!--
        .form-inline > * {
            margin: 3px 3px;
        }
    //--></style>
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("crm") }}">CRM</a></li>
        <li class="active">Contacts</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <form id="searchForm" class="form-inline">
                <div class="form-group">
                    <label for="searchSource" class="control-label">Source</label>
                    <select id="searchSource" class="form-control" title="Filter by data source">
                        <option value="" selected>All</option>
                        <option value="manual">Manual</option>
                        {% for dataSource in data_sources %}
                            <option value="{{ dataSource.id }}">{{ dataSource.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchType" class="control-label">Type</label>
                    <select id="searchType" class="form-control" title="Filter by type">
                        <option value="" selected>All</option>
                        {% for contactPersonType in contact_person_types %}
                            <option value="{{ contactPersonType.id }}">{{ contactPersonType.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchContactName" class="control-label">Name</label>
                    <input id="searchContactName" class="form-control" type="search" title="Filter by name">
                    <div id="searchContactNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchOrganizationName" class="control-label">Organization</label>
                    <input id="searchOrganizationName" class="form-control" type="search" title="Filter by organization">
                    <div id="searchOrganizationNameSuggestions"></div>
                </div>
                <div class="form-group">
                    <label for="searchCountry" class="control-label">Country</label>
                    <select id="searchCountry" class="form-control" title="Filter by country">
                        <option value="" selected>All</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }} ({{ country.isoCode }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="searchCount" class="control-label">Display</label>
                    <select id="searchCount" class="form-control" title="Number of results to display">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>250</option>
                    </select>
                </div>
                <button id="searchButton" type="button" role="button" class="btn btn-success">Search</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleSortId">Id <span id="showSortId" class="pull-right"></span></th>
                        <th id="toggleSortName">Name <span id="showSortName" class="pull-right"></span></th>
                        <th id="toggleSortOrganization">Organization <span id="showSortOrganization" class="pull-right"></span></th>
                        <th id="toggleSortCountry">Country <span id="showSortCountry" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
                <tfoot id="resultsFooter"></tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <button id="createButton" class="btn btn-primary" type="button" role="button">Create</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $createButton = $('#createButton');
        var $resultsBody = $('#resultsBody');
        var $resultsFooter = $('#resultsFooter');
        var $searchButton = $('#searchButton');
        var $searchForm = $('#searchForm');
        var $searchSource = $('#searchSource');
        var $searchType = $('#searchType');
        var $searchContactName = $('#searchContactName');
        var $searchOrganizationName = $('#searchOrganizationName');
        var $searchCountry = $('#searchCountry');
        var $searchCount = $('#searchCount');
        var currentPage = 1;
        var sortColumn = 'id';
        var sortDirection = 1;

        $searchForm.submit(false);

        $('[id^=toggleSort]').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(10).toLowerCase() + id.slice(11);

            $this.click(function(e) {
                toggleSort(e, toggleColumn);
            });
        });
        $searchButton.click(function() {
            currentPage = 1;

            executeSearch();
        });

        $createButton.click(function() {
            var $modal = $('<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"></div>');
            var $modalDialog = $('<div class="modal-dialog modal-lg" role="document">/').appendTo($modal);
            var $modalContent = $('<div class="modal-content"/>').appendTo($modalDialog);
            var $modalHeader = $(
                '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '</div>'
            ).appendTo($modalContent);

            $('<h4 class="modal-title" id="createModalLabel">Create Contact</h4>').appendTo($modalHeader);
            $(
                '<div class="modal-body">' +
                    '<form id="createForm" class="form-horizontal">' +
                        '<div class="form-group">' +
                            '<label for="selectContactPersonType" class="col-sm-2 control-label">Contact Type</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectContactPersonType">' +
                                {% for contactPersonType in contact_person_types %}
                                    '<option value="{{ contactPersonType.id }}"{% if contactPersonType.name == "customer" %} selected{% endif %}>{{ contactPersonType.name }}</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="selectCountry" class="col-sm-2 control-label">Country</label>' +
                            '<div class="col-sm-10"><select class="form-control" id="selectCountry">' +
                                {% for country in countries %}
                                    '<option value="{{ country.id }}"{% if country.isoCode == "US" %} selected{% endif %}>{{ country.name }} ({{ country.isoCode }})</option>' +
                                {% endfor %}
                            '</select></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactName" class="col-sm-2 control-label">Name</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactName" placeholder="Contact Name"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputOrganizationName" class="col-sm-2 control-label">Organization</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputOrganizationName" placeholder="Organization Name"></div>' +
                        '</div>' +
                        '<div id="inputOrganizationNameSuggestions" class="col-sm-12"></div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressLine1" class="col-sm-2 control-label">Address Line 1</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressLine1" placeholder="Address Line 1"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressLine2" class="col-sm-2 control-label">Address Line 2</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressLine2" placeholder="Address Line 2"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressLine3" class="col-sm-2 control-label">Address Line 3</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressLine3" placeholder="Address Line 3"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressCity" class="col-sm-2 control-label">City</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressCity" placeholder="City"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressDistrict" class="col-sm-2 control-label">District</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressDistrict" placeholder="District"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressStateOrRegion" class="col-sm-2 control-label">State or Region</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressStateOrRegion" placeholder="State or Region"></div>' +
                        '</div>' +
                        '<div class="form-group">' +
                            '<label for="inputContactAddressPostalCode" class="col-sm-2 control-label">Postal Code</label>' +
                            '<div class="col-sm-10"><input type="text" class="form-control" id="inputContactAddressPostalCode" placeholder="Postal Code"></div>' +
                        '</div>' +
                    '</form>' +
                '</div>'
            ).appendTo($modalContent);
            $(
                '<div class="modal-footer">' +
                    '<button id="submitButton" class="btn btn-success" type="button" role="button">Submit</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>' +
                '</div>'
            ).appendTo($modalContent);

            $modal.appendTo($(document.body));
            $('#createForm').submit(false);

            var $selectContactPersonType = $('#selectContactPersonType');
            var $inputOrganizationName = $('#inputOrganizationName');

            $inputOrganizationName.autocomplete({
                appendTo: '#inputOrganizationNameSuggestions',
                source: function(request, response) {
                    wrapAjax(
                        $.ajax({
                            'type': 'GET',
                            'url': '{{ path("organizations_names_json") }}',
                            'data': {
                                'search': $inputOrganizationName.val()
                            }
                        })
                        .done(function(result, textStatus, jqXHR) {
                            response(result['rows']);

                            $('#inputOrganizationNameSuggestions').find('.ui-autocomplete').show();
                        })
                    );
                },
                minLength: 2
            });

            $('#submitButton').click(function() {
                var contactName = $('#inputContactName').val();
                var contact = {
                    'contact_person_type_id': $selectContactPersonType.val(),
                    'organization_name': $('#inputOrganizationName').val(),
                    'country_id': $('#selectCountry').val(),
                    'name': contactName,
                    'line1': $('#inputContactAddressLine1').val(),
                    'line2': $('#inputContactAddressLine2').val(),
                    'line3': $('#inputContactAddressLine3').val(),
                    'city': $('#inputContactAddressCity').val(),
                    'district': $('#inputContactAddressDistrict').val(),
                    'state_or_region': $('#inputContactAddressStateOrRegion').val(),
                    'postal_code': $('#inputContactAddressPostalCode').val()
                };

                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("crm_contacts_create") }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(contact),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['total'] > 0) {
                            var contactType = $selectContactPersonType.children('option:selected').text();

                            createAlert(
                                'Created ' + result['total'] + ' ' + contactType + '(s) ' + 'named: ' + contactName,
                                'success', undefined, undefined, 5
                            );
                        }

                        executeSearch();
                    })
                );

                $modal.modal('hide');
            });

            $modal
                .on('shown.bs.modal', function(e) {
                    $selectContactPersonType.focus();
                })
                .on('hidden.bs.modal', function(e) {
                    $(this).remove();
                })
                .modal('show')
            ;
        });

        $searchContactName.autocomplete({
            appendTo: '#searchContactNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("crm_contacts_names_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'contact_person_type_id': $searchType.val(),
                            'name': $searchContactName.val(),
                            'organization_name': $searchOrganizationName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchContactNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        $searchOrganizationName.autocomplete({
            appendTo: '#searchOrganizationNameSuggestions',
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("crm_contacts_organizations_json") }}',
                        'data': {
                            'data_source_id': $searchSource.val(),
                            'contact_person_type_id': $searchType.val(),
                            'name': $searchContactName.val(),
                            'organization_name': $searchOrganizationName.val(),
                            'country_id': $searchCountry.val()
                        }
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);

                        $('#searchOrganizationNameSuggestions').find('.ui-autocomplete').show();
                    })
                );
            },
            minLength: 2
        });

        function toggleSort(e, column) {
            e.preventDefault();

            if(!$resultsBody.is(':empty')) {
                if(sortColumn == column) {
                    sortDirection = (sortDirection == 1 ? -1 : 1);
                } else {
                    sortColumn = column;
                    sortDirection = 1;
                }

                executeSearch();
            }
        }

        function executeSearch() {
            $searchButton.prop('disabled', true);
            $resultsBody.empty();
            $resultsFooter.empty();

            var sortColumnUpper = sortColumn.charAt(0).toUpperCase() + sortColumn.slice(1);

            $('[id^=toggleSort]')
                .removeClass('bg-info')
            ;
            $('span[id^=showSort]')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#toggleSort' + sortColumnUpper)
                .addClass('bg-info')
            ;
            $('#showSort' + sortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (sortDirection === 1 ? 'up' : 'down'))
            ;

            var count = $searchCount.val();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("crm_contacts_json") }}',
                    'data': {
                        'data_source_id': $searchSource.val(),
                        'contact_person_type_id': $searchType.val(),
                        'name': $searchContactName.val(),
                        'organization_name': $searchOrganizationName.val(),
                        'country_id': $searchCountry.val(),
                        'page': currentPage,
                        'sort_column': sortColumn,
                        'sort_direction': sortDirection,
                        'count': count
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-contact-person-id="' + item['contact_person_id'] + '">' +
                                    '<td data-field="contact_person_id"><a href="{{ path("crm_contacts") }}/' + item['contact_person_id'] + '">' + item['contact_person_id'] + '</a></td>' +
                                    '<td data-field="contact_person_name">' + (item['contact_person_name'] ? ('<a href="{{ path("crm_contacts") }}/' + item['contact_person_id'] + '">' + item['contact_person_name'] + '</a>') : '&nbsp;') + '</td>' +
                                    '<td data-field="organization_name">' + (item['organization_name'] ? item['organization_name'] : '&nbsp;') + '</td>' +
                                    '<td data-field="country_name">' + (item['country_name'] ? item['country_name'] : '&nbsp;') + '</td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, currentPage, count, function(newPage) {
                            currentPage = newPage;

                            executeSearch();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="4" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($resultsFooter);
                        }
                    }

                    $searchButton.prop('disabled', false);
                }),
                function(jqXHR, textStatus, errorThrown) {
                    $searchButton.prop('disabled', false);
                }
            );
        }

        executeSearch();
    });
//--></script>
{% endblock %}
