{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% if not is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_TRIAL")) %}
            <li{% if side_section is defined and side_section == "contacts" %} class="active"{% endif %}><a href="{{ path("crm_contacts") }}">Contacts{% if side_section is defined and side_section == "contacts" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
