{% extends "base.html.twig" %}

{% use "crm/crm_sidebar.html.twig" %}

{% block title %}Contact {{ contact_person.name }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path("crm") }}">CRM</a></li>
        <li><a href="{{ path("crm_contacts") }}">Contacts</a></li>
        <li class="active">Contact: {{ contact_person.name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Contact: {{ contact_person.name }}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Created: {{ contact_person.created|date("Y-m-d H:i:s", timezone.name) }}</li>
                {% if contact_person.creator is not null %}<li>Creator: {{ creator.name }}</li>{% endif %}
                {% if contact_person.updated is not null %}<li>Updated: {{ contact_person.updated|date("Y-m-d H:i:s", timezone.name) }}</li>{% endif %}
                {% if contact_person.updater is not null %}<li>Updater: {{ updater.name }}</li>{% endif %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Addresses</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleAddressSortLine1">Line 1 <span id="showAddressSortLine1" class="pull-right"></span></th>
                        <th id="toggleAddressSortLine2">Line 2 <span id="showAddressSortLine2" class="pull-right"></span></th>
                        <th id="toggleAddressSortLine3">Line 3 <span id="showAddressSortLine3" class="pull-right"></span></th>
                        <th id="toggleAddressSortCity">City <span id="showAddressSortCity" class="pull-right"></span></th>
                        <th id="toggleAddressSortDistrict">District <span id="showAddressSortDistrict" class="pull-right"></span></th>
                        <th id="toggleAddressSortStateOrRegion">State or Region <span id="showAddressSortStateOrRegion" class="pull-right"></span></th>
                        <th id="toggleAddressSortPostalCode">Postal Code <span id="showAddressSortPostalCode" class="pull-right"></span></th>
                        <th id="toggleAddressSortCountry">Country <span id="showAddressSortCountry" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="addressesBody"></tbody>
                <tfoot id="addressesFooter"></tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Organizations</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-warning">
                        <th id="toggleOrganizationSortName">Name <span id="showOrganizationSortName" class="pull-right"></span></th>
                        <th id="toggleOrganizationSortCode">Code <span id="showOrganizationSortCode" class="pull-right"></span></th>
                        <th id="toggleOrganizationSortCurrency">Currency <span id="showOrganizationSortCurrency" class="pull-right"></span></th>
                    </tr>
                </thead>
                <tbody id="organizationsBody"></tbody>
                <tfoot id="organizationsFooter"></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $addressesBody = $('#addressesBody');
        var $addressesFooter = $('#addressesFooter');
        var addressCurrentPage = 1;
        var addressSortColumn = 'line1';
        var addressSortDirection = 1;
        var $organizationsBody = $('#organizationsBody');
        var $organizationsFooter = $('#organizationsFooter');
        var organizationCurrentPage = 1;
        var organizationSortColumn = 'name';
        var organizationSortDirection = 1;

        $('[id^=toggleAddressSort]').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(17).toLowerCase() + id.slice(18);

            $this.click(function(e) {
                toggleAddressSort(e, toggleColumn);
            });
        });

        function toggleAddressSort(e, column) {
            e.preventDefault();

            if(!$addressesBody.is(':empty')) {
                if(addressSortColumn == column) {
                    addressSortDirection = (addressSortDirection == 1 ? -1 : 1);
                } else {
                    addressSortColumn = column;
                    addressSortDirection = 1;
                }

                refreshAddresses();
            }
        }

        function refreshAddresses() {
            $addressesBody.empty();
            $addressesFooter.empty();

            var addressSortColumnUpper = addressSortColumn.charAt(0).toUpperCase() + addressSortColumn.slice(1);

            $('[id^=toggleAddressSort]')
                .removeClass('bg-info')
            ;
            $('span[id^=showAddressSort]')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#toggleAddressSort' + addressSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#showAddressSort' + addressSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (addressSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("crm_contacts_contact_addresses_json", {"contactPersonId": contact_person.id}) }}',
                    'data': {
                        'page': addressCurrentPage,
                        'sort_column': addressSortColumn,
                        'sort_direction': addressSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-contact-address-id="' + item['id'] + '">' +
                                    '<td data-field="line1">' + (item['line1'] ? item['line1'] : '&nbsp;') + '</td>' +
                                    '<td data-field="line2">' + (item['line2'] ? item['line2'] : '&nbsp;') + '</td>' +
                                    '<td data-field="line3">' + (item['line3'] ? item['line3'] : '&nbsp;') + '</td>' +
                                    '<td data-field="city">' + (item['city'] ? item['city'] : '&nbsp;') + '</td>' +
                                    '<td data-field="district">' + (item['district'] ? item['district'] : '&nbsp;') + '</td>' +
                                    '<td data-field="state_or_region">' + (item['state_or_region'] ? item['state_or_region'] : '&nbsp;') + '</td>' +
                                    '<td data-field="postal_code">' + (item['postal_code'] ? item['postal_code'] : '&nbsp;') + '</td>' +
                                    '<td data-field="country_name">' + (item['country_name'] ? item['country_name'] : '&nbsp;') + '</td>' +
                                '</td>'
                            ).appendTo($addressesBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, addressCurrentPage, 5, function(newPage) {
                            addressCurrentPage = newPage;

                            refreshAddresses();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="8" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($addressesFooter);
                        }
                    }
                })
            );
        }

        $('[id^=toggleOrganizationSort]').each(function(index) {
            var $this = $(this);
            var id = $this.attr('id');
            var toggleColumn = id.charAt(22).toLowerCase() + id.slice(23);

            $this.click(function(e) {
                toggleOrganizationSort(e, toggleColumn);
            });
        });

        function toggleOrganizationSort(e, column) {
            e.preventDefault();

            if(!$organizationsBody.is(':empty')) {
                if(organizationSortColumn == column) {
                    organizationSortDirection = (organizationSortDirection == 1 ? -1 : 1);
                } else {
                    organizationSortColumn = column;
                    organizationSortDirection = 1;
                }

                refreshOrganizations();
            }
        }

        function refreshOrganizations() {
            $organizationsBody.empty();
            $organizationsFooter.empty();

            var organizationSortColumnUpper = organizationSortColumn.charAt(0).toUpperCase() + organizationSortColumn.slice(1);

            $('[id^=toggleOrganizationSort]')
                .removeClass('bg-info')
            ;
            $('span[id^=showOrganizationSort]')
                .removeClass('glyphicon')
                .removeClass('glyphicon-chevron-up')
                .removeClass('glyphicon-chevron-down')
            ;
            $('#toggleOrganizationSort' + organizationSortColumnUpper)
                .addClass('bg-info')
            ;
            $('#showOrganizationSort' + organizationSortColumnUpper)
                .addClass('glyphicon')
                .addClass('glyphicon-chevron-' + (organizationSortDirection === 1 ? 'down' : 'up'))
            ;

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("crm_contacts_contact_organizations_json", {"contactPersonId": contact_person.id}) }}',
                    'data': {
                        'page': organizationCurrentPage,
                        'sort_column': organizationSortColumn,
                        'sort_direction': organizationSortDirection
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    var total = result['total'];
                    var calculated = result['calculated'];

                    if(total > 0) {
                        $.each(result['rows'], function(index, item) {
                            $(
                                '<tr data-organization-id="' + item['id'] + '">' +
                                    '<td data-field="name">' + (item['name'] ? item['name'] : '&nbsp;') + '</td>' +
                                    '<td data-field="code">' + (item['code'] ? item['code'] : '&nbsp;') + '</td>' +
                                    '<td data-field="currency_name">' + (item['currency_name'] ? item['currency_name'] : '&nbsp;') + '</td>' +
                                '</td>'
                            ).appendTo($organizationsBody);
                        });

                        var $paginationNav = createPaginationNav(calculated, organizationCurrentPage, 5, function(newPage) {
                            organizationCurrentPage = newPage;

                            refreshOrganizations();
                        });

                        if($paginationNav !== null) {
                            var $footerRow = $('<tr/>');
                            var $footerCol = $('<td colspan="3" align="center"/>').appendTo($footerRow);

                            $paginationNav.appendTo($footerCol);
                            $footerRow.appendTo($organizationsFooter);
                        }
                    }
                })
            );
        }

        refreshAddresses();
        refreshOrganizations();
    });
//--></script>
{% endblock %}
