{% set minSuffix = '.min' %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Merchant Admin: {% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui{{ minSuffix }}.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap{{ minSuffix }}.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme{{ minSuffix }}.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table{{ minSuffix }}.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker{{ minSuffix }}.css">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv{{ minSuffix }}.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style><!--
        /*
         * Base structure
         */

        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
        }

        /*
         * Global add-ons
         */

        .sub-header {
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

        /*
         * Top navigation
         * Hide default border to remove 1px line.
         */
        .navbar-fixed-top {
            border: 0;
        }

        /*
         * Sidebar
         */

        /* Hide for mobile, show later */
        .sidebar {
            display: none;
        }
        @media (min-width: 768px) {
            .sidebar {
                position: fixed;
                top: 51px;
                bottom: 0;
                left: 0;
                z-index: 1000;
                display: block;
                padding: 20px;
                overflow-x: hidden;
                overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                background-color: #f5f5f5;
                border-right: 1px solid #eee;
            }
        }

        /* Sidebar navigation */
        .nav-sidebar {
            margin-right: -21px; /* 20px padding + 1px border */
            margin-bottom: 20px;
            margin-left: -20px;
        }
        .nav-sidebar > li > a {
            padding-right: 20px;
            padding-left: 20px;
        }
        .nav-sidebar > .active > a,
        .nav-sidebar > .active > a:hover,
        .nav-sidebar > .active > a:focus {
            color: #fff;
            background-color: #428bca;
        }


        /*
         * Main content
         */

        .main {
            padding: 20px;
        }
        @media (min-width: 768px) {
            .main {
                padding-right: 40px;
                padding-left: 40px;
            }
        }
        .main .page-header {
            margin-top: 0;
        }


        /*
         * Placeholder dashboard ideas
         */

        .placeholders {
            margin-bottom: 30px;
            text-align: center;
        }
        .placeholders h4 {
            margin-bottom: 0;
        }
        .placeholder {
            margin-bottom: 20px;
        }
        .placeholder img {
            display: inline-block;
            border-radius: 50%;
        }
    //--></style>
    {% block head %}
    {% endblock %}
</head>
<body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("dashboard") }}">Merchant Admin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_FINANCE")) %}
                        <li{% if nav_section is defined and nav_section == "accounting" %} class="active"{% endif %}><a href="{{ path("accounting") }}">Accounting</a></li>
                    {% endif %}
                    <li{% if nav_section is defined and nav_section == "crm" %} class="active"{% endif %}><a href="{{ path("crm") }}" data-toggle="tooltip" title="Customer Relationship Management">CRM</a></li>
                    {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_CATALOG")) %}
                        <li{% if nav_section is defined and nav_section == "catalog" %} class="active"{% endif %}><a href="{{ path("catalog") }}">Catalog</a></li>
                    {% endif %}
                    {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_INVENTORY")) %}
                        <li{% if nav_section is defined and nav_section == "labels" %} class="active"{% endif %}><a href="{{ path("labels") }}">Labels</a></li>
                    {% endif %}
                    <li{% if nav_section is defined and nav_section == "sales" %} class="active"{% endif %}><a href="{{ path("sales") }}" data-toggle="tooltip">Sales</a></li>
                    <li{% if nav_section is defined and nav_section == "shipping" %} class="active"{% endif %}><a href="{{ path("shipping") }}" data-toggle="tooltip">Shipping</a></li>
                    {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
                        <li{% if nav_section is defined and nav_section == "users" %} class="active"{% endif %}><a href="{{ path("users") }}">Users</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li{% if nav_section is defined and nav_section == "amazon" %} class="active"{% endif %}><a href="{{ path("amazon") }}">Amazon</a></li>
                    <li class="dropdown{% if nav_section is defined and nav_section == "profile" %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Logged in as: {{ app.user.username }}</a></li>
                            <li role="separator" class="divider"></li>
                            {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_AUTH")) %}
                                <li{% if side_section is defined and side_section == "settings" %} class="active"{% endif %}><a href="{{ path("profile_settings") }}">Settings{% if side_section is defined and side_section == "settings" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% endif %}
                            {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_AUTH")) %}
                                <li{% if side_section is defined and side_section == "auth" %} class="active"{% endif %}><a href="{{ path("profile_auth") }}">Authentication{% if side_section is defined and side_section == "auth" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% endif %}
                            {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
                                <li{% if side_section is defined and side_section == "printers" %} class="active"{% endif %}><a href="{{ path("profile_printers") }}">Label Printers{% if side_section is defined and side_section == "printers" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% endif %}
                            {% if is_granted(constant("BlakePrinting\\Users\\UserRoleDAO::ROLE_ADMIN")) %}
                                <li{% if side_section is defined and side_section == "mws_credentials" %} class="active"{% endif %}><a href="{{ path("profile_mws_credentials") }}">Amazon MWS Credentials{% if side_section is defined and side_section == "mws_credentials" %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path("logout") }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" id="sidebarContainer">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="mainContainer">
                <div class="row">
                    {% block breadcrumb %}
                    {% endblock %}
                </div>
                <div class="row">
                    <div id="alerts" class="col-lg-12">{% if app.session.flashbag is defined %}
                        {% for flash_type in [ 'success', 'info', 'warning', 'danger' ] %}
                            {% if app.session.flashbag.peek(flash_type) %}
                                {% for flash_message in app.session.flashbag.get(flash_type) %}
                                    <div class="alert alert-{{ flash_type }} alert-dismissable" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}</div>
                </div>
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery{{ minSuffix }}.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui{{ minSuffix }}.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/locale/bootstrap-table-en-US{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/extensions/mobile/bootstrap-table-mobile{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/extensions/editable/bootstrap-table-editable{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.5/cldr{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.5/cldr/event{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.5/cldr/supplemental{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/number{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/plural{{ minSuffix }}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/globalize/1.1.1/globalize/currency{{ minSuffix }}.js"></script>
    <script type="text/javascript"><!--
        $.when(
            $.get('/cldr/supplemental/likelySubtags.json'),
            $.get('/cldr/main/en/numbers.json'),
            $.get('/cldr/supplemental/numberingSystems.json'),
            $.get('/cldr/supplemental/plurals.json'),
            $.get('/cldr/supplemental/ordinals.json'),
            $.get('/cldr/main/en/currencies.json'),
            $.get('/cldr/supplemental/currencyData.json')
        ).then(function() {
            return [].slice.apply(arguments, [0]).map(function(result) {
                return result[0];
            });
        }).then(Globalize.load).then(function() {
            Globalize.locale('en');
        });
    //--></script>
    <script src="/functions.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
