{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Catalog</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div id="searchPanel" class="panel-heading">
            <form id="searchForm" class="form-inline">
                <div class="form-group">
                    <label for="inputSearchTerms" class="control-label">Name</label>
                    <input id="inputSearchTerms" class="form-control" type="search" name="search_terms" title="Filter items by name">
                </div>
                <div class="form-group">
                    <label for="selectSearchType" class="control-label">Type</label>
                    <select id="selectSearchType" class="form-control" name="search_type" title="Filter items by type">
                        <option value="" selected>All</option>
                        <option value="parts">Parts</option>
                        <option value="products">Products</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectSearchSource" class="control-label">Source</label>
                    <select id="selectSearchSource" class="form-control" name="search_source" title="Filter items by data source">
                        <option value="" selected>All</option>
                        {% for dataSource in data_sources %}
                            <option value="{{ dataSource.id }}">{{ dataSource.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button id="selectCartOnly" type="button" class="btn btn-default" title="Restrict search to items in shopping cart">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </button>
                </div>
                <button id="searchButton" type="button" role="button" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="resultsBody"></tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button id="updateButton" type="button" role="button" class="btn btn-success">Update Cart</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        var $resultsBody = $('#resultsBody');
        var $searchButton = $('#searchButton');
        var $searchForm = $('#searchForm');
        var $searchTermInput = $('#inputSearchTerms');
        var $searchTypeSelect = $('#selectSearchType');
        var $searchSourceSelect = $('#selectSearchSource');
        var $searchSelectCartOnly = $('#selectCartOnly');
        var $updateButton = $('#updateButton');

        $searchForm.submit(false);
        $updateButton.prop('disabled', true);

        $searchButton.click(function() {
            $resultsBody.empty();

            wrapAjax(
                $.ajax({
                    'type': 'GET',
                    'url': '{{ path("catalog_search_json") }}',
                    'data': {
                        'search_terms': $searchTermInput.val(),
                        'search_type': $searchTypeSelect.val(),
                        'search_source': $searchSourceSelect.val(),
                        'search_cart': $searchSelectCartOnly.data('active')
                    }
                })
                .done(function(result, textStatus, jqXHR) {
                    if(result['total'] > 0) {
                        var rows = result['rows'];

                        for(var i = 0; i < rows.length; i++) {
                            var row = rows[i];

                            $(
                                '<tr data-id="' + row['id'] + '">' +
                                    '<td data-field="type">' + row['type'] + '</td>' +
                                    '<td data-field="name">' + row['name'] + '</td>' +
                                    '<td data-field="quantity"><input type="number" class="form-control" maxlength="8" min="0" max="16777215" value="' + (row['quantity'] === null ? "0" : row['quantity']) + '"></td>' +
                                '</tr>'
                            ).appendTo($resultsBody);
                        }

                        $updateButton.prop('disabled', false);
                    } else {
                        $updateButton.prop('disabled', true);
                    }
                })
            );
        });

        $searchSelectCartOnly.click(function() {
            if($searchSelectCartOnly.data('active') === true) {
                $searchSelectCartOnly
                    .data('active', false)
                    .removeClass('btn-success')
                    .addClass('btn-default')
                ;
            } else {
                $searchSelectCartOnly
                    .data('active', true)
                    .removeClass('btn-default')
                    .addClass('btn-success')
                ;
            }
        });

        $searchTermInput.autocomplete({
            source: function(request, response) {
                wrapAjax(
                    $.ajax({
                        'type': 'GET',
                        'url': '{{ path("catalog_search_names_json") }}',
                        'data': {
                            'search_terms': request.term,
                            'search_type': $searchTypeSelect.val(),
                            'search_source': $searchSourceSelect.val(),
                            'search_cart': $searchSelectCartOnly.data('active')
                        },
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        response(result['rows']);
                    })
                );
            },
            minLength: 2
        });

        $updateButton.click(function() {
            var updateItems = [];

            $resultsBody.children().each(function() {
                var $tr = $(this);
                var row = {
                    'id': $tr.data('id')
                };

                $tr.children().each(function() {
                    var $td = $(this);
                    var field = $td.data('field');

                    switch(field) {
                        case 'type':
                            row['type'] = $td.text();
                        break;
                        case 'quantity':
                            $td.children('input').each(function() {
                                row['quantity'] = $(this).val();
                            });
                        break;
                    }
                });

                updateItems.push(row);
            });

            if(updateItems.length > 0) {
                wrapAjax(
                    $.ajax({
                        'type': 'POST',
                        'url': '{{ path("catalog_update_selections") }}',
                        'contentType': 'application/json',
                        'data': JSON.stringify(updateItems),
                        'dataType': 'json'
                    })
                    .done(function(result, textStatus, jqXHR) {
                        if(result['stored'] > 0 || result['deleted'] > 0) {
                            createAlert(
                                'Updated ' + result['total'] + ' items - ' +
                                result['stored'] + ' quantities stored, ' +
                                result['deleted'] + ' quantities deleted',
                                'success', undefined, undefined, 5
                            );
                        }
                    })
                );
            }
        });
    });
//--></script>
{% endblock %}
