{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <div id="dash_content"></div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"><!--
    $(function() {
        wrapAjax(
            $.ajax({
                'type': 'GET',
                'url': '{{ path("sales_orders_dashboard_snippet") }}'
            })
            .done(function(result, textStatus, jqXHR) {
                if(result['html']) {
                    var $row = $('<div class="row"></div>');
                    var $col = $('<div class="col-md-4"></div>');

                    $(result['html']).appendTo($col);

                    $col.appendTo($row);
                    $row.appendTo($('#dash_content'));
                }
            })
        );
    });
//--></script>
{% endblock %}
